<!DOCTYPE html>
<cshtml lang="en">
    <!-- BEGIN HEAD -->
    <!-- Mirrored from radixtouch.in/templates/admin/hotel/source/all_rooms.cshtml by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 13 Jan 2020 12:38:32 GMT -->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta name="description" content="Responsive Admin Template" />
        <meta name="author" content="SmartUniversity" />
        <title>Color Hotel</title>
        <!-- icons -->
        <link href="~/Content/QuanLy/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/QuanLy/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <!--bootstrap -->
        <link href="~/Content/QuanLy/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <!-- Material Design Lite CSS -->
        <link rel="stylesheet" href="~/Content/QuanLy/plugins/material/material.min.css">
        <link rel="stylesheet" href="~/Content/QuanLy/css/material_style.css">
        <!-- data tables -->
        <link href="~/Content/QuanLy/plugins/datatables/plugins/bootstrap/dataTables.bootstrap4.min.css" rel="stylesheet"
              type="text/css" />
        <!-- animation -->
        <link href="~/Content/QuanLy/css/pages/animate_page.css" rel="stylesheet">
        <!-- Template Styles -->
        <link href="~/Content/QuanLy/css/style.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/QuanLy/css/plugins.min.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/QuanLy/css/responsive.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/QuanLy/css/theme-color.css" rel="stylesheet" type="text/css" />
        <!-- favicon -->

        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
        <link rel="shortcut icon" href="~/Content/QuanLy/img/logo.png" />
        <script src="~/Content/QuanLy/Jquery.js"></script>
        <script src="~/Content/QuanLy/libs_function.js"></script>
        <style>
            tbody tr td {
                text-align:center;
            }
        </style>
        <script type="text/javascript">

            $(document).ready(function () {
                checkSession();

                //var mota = $();
                var dataId;
                var idList = '#dsphong';
                //Modal
                var idModalAdd = '#addModal';
                var idModalEdit = '#editModal';

                //API
                var layDSPhong = 'Quanly/LayDanhSachPhong';
                var themPhong = 'Quanly/ThemPhong';
                var suaPhong = 'Quanly/CapNhatPhong';
                var xoaPhong = 'Quanly/XoaPhong?ID=';
                var layPhong = 'Quanly/LayPhong?ID=';

                loadData(layDSPhong, function (data) {

                    $(idList).DataTable({
                        destroy: true,
                        data: data,
                        columns: [
                            { 'data': 'SoPhong' },
                            { 'data': 'LoaiPhong' },
                            {
                                'data': null,
                                'render': function (data, type, row) {
                                    return formatNumber(row.Gia)
                                }
                            },
                            {
                                'data': null,
                                'render': function (data, type, row) {
                                    var tt = "Trống";
                                    var label = "label-primary";
                                    if (row.TrangThai == '0') {
                                        tt = "Đang Chờ"
                                        label = "label-warning"
                                    } else if (row.TrangThai == '1') {
                                        tt = "Đang sử dụng"
                                        label = "label-success"
                                    }
                                    return '<span class="label label-sm ' + label + '" style="background-color:#cddadb; ">' + tt + '</span>'
                                }
                            },
                            {
                                'data': null,
                                'render': function (data, type, row) {
                                    return '<a class="btn btn-tbl-edit btn-xs" data-id="' + row.ID + '"> <i class="fa fa-pencil" style="color: lightgray"></i></a> <a class="btn btn-tbl-delete btn-xs" data-id="' + row.ID + '"><i class="fa fa-trash-o" data-id="ID"></i></a>'
                                }
                            }
                        ],
                        "columnDefs": [
                            { "orderable": false, "targets": 4 },
                        ]
                    });
                });

                $('body').on('click', 'a.btn.btn-tbl-delete.btn-xs', function () {

                    dataId = $(this).attr("data-id");
                    var info = {
                        ID: dataId,
                        url: xoaPhong,
                    };

                    deleteData(info);
                })


                $('body').on('click', 'a.btn.btn-tbl-edit.btn-xs', function () {
                    $(idModalEdit).modal('show');
                    dataId = $(this).attr("data-id");
                    var edit = {
                        loaiPhong: '#loaiphong-edit',
                        gia: '#gia-edit',
                        soLau: '#solau-edit',
                        soPhong: '#sophong-edit'
                    }
                    loadDataWithID(layPhong, dataId, function (data) {
                        var loaiPhong;
                        if (data.LoaiPhong == "1") {
                            loaiPhong = "Phòng Loại 1";
                        }
                        if (data.LoaiPhong == "2") {
                            loaiPhong = "Phòng Loại 2";
                        }
                        if (data.LoaiPhong == "3") {
                            loaiPhong = "Phòng Loại 3";
                        }
                        if (data.LoaiPhong == "4") {
                            loaiPhong = "Phòng Loại 4";
                        }
                        var soLau = data.SoPhong.slice(0, 1);
                        var soPhong = data.SoPhong.slice(1);

                        $(edit.loaiPhong).val(loaiPhong);
                        $(edit.gia).val(data.Gia);
                        $(edit.soLau).val(soLau);
                        $(edit.soPhong).val(soPhong);
                    });
                    //loadDataDetail(edit, layPhong, dataId);
                })

                $('#btn-edit').click(function () {
                    var loaiPhong = "0";
                    var _0 = '0';
                    if ($('#loaiphong-edit').val() == "Phòng Loại 1") {
                        loaiPhong = "1";
                    }
                    if ($('#loaiphong-edit').val() == "Phòng Loại 2") {
                        loaiPhong = "2";
                    }
                    if ($('#loaiphong-edit').val() == "Phòng Loại 3") {
                        loaiPhong = "3";
                    }
                    if ($('#loaiphong-edit').val() == "Phòng Loại 4") {
                        loaiPhong = "4";
                    }
                    if (parseInt($('#solau-add').val()) > 9) {
                        _0 = '';
                    }
                    $(idModalEdit).modal('hide');
                    var data = {
                        ID: dataId,
                        MaPhong: loaiPhong + _0 + $('#solau-edit').val() + $('#sophong-edit').val(),
                        LoaiPhong: loaiPhong,
                        Gia: $('#gia-edit').val(),
                        SoPhong: $('#solau-edit').val() + $('#sophong-edit').val()
                    };

                    //validate
                    var message = '';
                    if (isEmpty(data.LoaiPhong) || isEmpty(data.Gia) || isEmpty($('#solau-add').val()) || isEmpty($('#sophong-add').val())) {
                        message += EMEmpty;
                    }
                    if (!isNumber(data.Gia) || !isNumber($('#solau-add').val()) || !isNumber($('#sophong-add').val())) {
                        message += '\r\nGiá , Số Lầu , Số Phòng' + EMNumber;
                    }

                    if (isTwoNumber($('#solau-add').val()) || isTwoNumber($('#sophong-add').val())) {
                        message += '\r\nSố Lầu , Số Phòng ' + EMTwoNumber;
                    }
                   

                    if (message.length > 0) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: message
                        }).then(() => {
                            $(idModalEdit).modal('show');
                        })
                    } else {
                        editData(suaPhong, data);
                    }



                });
                $("#addRow").click(function () {
                    $(idModalAdd).modal('show');
                })

                $('#btn-add').click(function () {
                    var loaiPhong = "";
                    var _0 = '0';
                    if ($('#loaiphong-add').val() == "Phòng Loại 1") {
                        loaiPhong = "1";
                    }
                    if ($('#loaiphong-add').val() == "Phòng Loại 2") {
                        loaiPhong = "2";
                    }
                    if ($('#loaiphong-add').val() == "Phòng Loại 3") {
                        loaiPhong = "3";
                    }
                    if ($('#loaiphong-add').val() == "Phòng Loại 4") {
                        loaiPhong = "4";
                    }
                    if (parseInt($('#solau-add').val()) > 9) {
                        _0 = '';
                    }
                    var data = {
                        MaPhong: loaiPhong + _0 + $('#solau-add').val() + $('#sophong-add').val(),
                        LoaiPhong: loaiPhong,
                        Gia: $('#gia-add').val(),
                        SoPhong: $('#solau-add').val() + $('#sophong-add').val(),
                        TrangThai: -1,
                        IsDelete: false,
                    }
                    //validate
                    var message = '';
                    if (isEmpty(data.LoaiPhong) || isEmpty(data.Gia) || isEmpty($('#solau-add').val()) || isEmpty($('#sophong-add').val())) {
                        message += EMEmpty;
                    }
                    if (!isNumber(data.Gia) || !isNumber($('#solau-add').val()) || !isNumber($('#sophong-add').val())) {
                        message += '\r\nGiá , Số Lầu , Số Phòng' + EMNumber;
                    }

                    if (isTwoNumber($('#solau-add').val()) || isTwoNumber($('#sophong-add').val())) {
                        message += '\r\nSố Lầu , Số Phòng ' + EMTwoNumber;
                    }
                    $(idModalAdd).modal('hide');

                    if (message.length > 0) {

                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: message
                        }).then(() => {
                            $(idModalAdd).modal('show');
                        })
                    } else {
                        var info = {
                            url: themPhong,
                            modal: idModalAdd
                        };
                        console.log(data);
                        addData(info, data);
                    }

                });


            });

        </script>
    </head>
    <!-- END HEAD -->

    <body class="page-header-fixed sidemenu-closed-hidelogo page-content-white page-md header-white dark-sidebar-color logo-dark">
        <div class="page-wrapper" style="overflow:hidden">
            <!-- start header -->
            <div class="page-header navbar navbar-fixed-top">
                <div class="page-header-inner ">
                    <!-- logo start -->
                    <div class="page-logo">
                        <a href="~/TrangChu.cshtml">
                            @*<img alt="avatar" src="~/Content/QuanLy/img/logo.png">*@
                            <span class="logo-default">Color Hotel</span>
                        </a>
                    </div>
                    <!-- logo end -->
                    <!-- start mobile menu -->
                    <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse"
                       data-target=".navbar-collapse">
                        <span></span>
                    </a>
                    <!-- end mobile menu -->
                    <!-- start header menu -->
                    <div class="top-menu">
                        <ul class="nav navbar-nav pull-right">
                            <!-- start notification dropdown -->
                            <!-- end notification dropdown -->
                            <!-- start message dropdown -->
                            <!-- end message dropdown -->
                            <!-- start manage user dropdown -->
                            <li class="dropdown dropdown-user">
                                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                                   data-close-others="true">
                                    <img alt="" class="img-circle " src="~/Content/QuanLy/img/dp.jpg" />
                                    <span class="username username-hide-on-mobile nameuser"> John </span>
                                    <i class="fa fa-angle-down"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-default animated jello">


                                    <li class="divider"> </li>

                                    <li>
                                        <a href="~/DangNhap.cshtml">
                                            <i class="icon-logout"></i> Log Out
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <!-- end manage user dropdown -->

                        </ul>
                    </div>
                </div>
            </div>
            <!-- end header -->
            <!-- start page container -->
            <div class="page-container">
                <!-- start sidebar menu -->
                <div class="sidebar-container">
                    <div class="sidemenu-container navbar-collapse collapse fixed-menu">
                        <div id="remove-scroll">
                            <ul class="sidemenu page-header-fixed p-t-20" data-keep-expanded="false" data-auto-scroll="true"
                                data-slide-speed="200">
                                <li class="sidebar-toggler-wrapper hide">
                                    <div class="sidebar-toggler">
                                        <span></span>
                                    </div>
                                </li>
                                <li class="sidebar-user-panel">
                                    <div class="user-panel">
                                        <div class="row">
                                            <div class="sidebar-userpic">
                                                <img src="~/Content/QuanLy/img/dp.jpg" class="img-responsive" alt="">
                                            </div>
                                        </div>
                                        <div class="profile-usertitle">
                                            <div class="sidebar-userpic-name nameuser"></div>
                                            <div class="profile-usertitle-job" id="roleuser"></div>
                                        </div>

                                    </div>
                                </li>



                                <li class="nav-item active ql">
                                    <a href="/SEP23Team2/Views/QuanLyViews/ThongKe/ThongKe.cshtml" class="nav-link nav-toggle">
                                        <i class="material-icons">business_center</i>
                                        <span class="title">Thống Kê</span>
                                        <span class="arrow"></span>
                                    </a>

                                </li>

                                <li class="nav-item active ql">
                                    <a href="/SEP23Team2/Views/QuanLyViews/DichVu/DSDichVu.cshtml" class="nav-link nav-toggle">
                                        <i class="material-icons">business_center</i>
                                        <span class="title">Dịch Vụ</span>
                                        <span class="arrow"></span>
                                    </a>

                                </li>
                                <li class="nav-item active ql">
                                    <a href="/SEP23Team2/Views/QuanLyViews/TienIch/DSTienIch.cshtml" class="nav-link nav-toggle">
                                        <i class="material-icons">group</i>
                                        <span class="title">Tiện Ích</span>
                                        <span class="arrow"></span>
                                    </a>

                                </li>
                                <li class="nav-item active ql">
                                    <a href="/SEP23Team2/Views/QuanLyViews/Phong/DSPhong.cshtml" class="nav-link nav-toggle">
                                        <i class="material-icons">vpn_key</i>
                                        <span class="title">Phòng</span>
                                        <span class="arrow"></span>
                                    </a>

                                </li>
                                <li class="nav-item active ql">
                                    <a href="/SEP23Team2/Views/QuanLyViews/TKNhanVien/DSTKNhanVien.cshtml" class="nav-link nav-toggle">
                                        <i class="material-icons">group</i>
                                        <span class="title">Tài Khoản Nhân Viên</span>
                                        <span class="arrow"></span>
                                    </a>

                                </li>
                                <li class="nav-item active ql">
                                    <a href="/SEP23Team2/Views/QuanLyViews/LoaiPhong/LoaiPhong.cshtml" class="nav-link nav-toggle">
                                        <i class="material-icons">group</i>
                                        <span class="title">Loại Phòng</span>
                                        <span class="arrow"></span>
                                    </a>

                                </li>




                            </ul>
                        </div>
                    </div>
                </div>
                <!-- end sidebar menu -->
                <!-- start page content -->
                <div class="page-content-wrapper">
                    <div class="page-content" style="min-height: 700px">
                        <div class="page-bar">
                            <div class="page-title-breadcrumb">
                                <div class=" pull-left">
                                    <div class="page-title">Danh Sách Phòng</div>
                                </div>
                                <ol class="breadcrumb page-breadcrumb pull-right">
                                    <li>
                                        <i class="fa fa-home"></i>&nbsp;<a class="parent-item"
                                                                           href="../../NhanVienViews/Phong_NhanVien/DanhSachPhong.cshtml">Trang Chủ</a>&nbsp;<i class="fa fa-angle-right"></i>
                                    </li>

                                    <li class="active">Danh Sách Phòng</li>
                                </ol>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card card-box" style="border-top: 2px solid teal">

                                    <div class="card-body ">
                                        <div class="row p-b-20">
                                            <div class="col-md-6 col-sm-6 col-6">
                                                <div class="btn-group">
                                                    <button id="addRow" class="btn btn-info">
                                                        Thêm Mới Phòng <i class="fa fa-plus"></i>
                                                    </button>

                                                </div>
                                            </div>

                                        </div>
                                        <div class="table-scrollable" style="min-height:400px;">
                                            <table class="table display product-overview mb-30"
                                                   id="dsphong">
                                                <thead>
                                                    <tr>
                                                        <th class="center"> Số Phòng </th>
                                                        <th class="center"> Phòng Loại </th>
                                                        <th class="center"> Giá </th>
                                                        <th class="center"> Tình Trạng </th>
                                                        <th class="center"> Chức Năng </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!----Modal-->
                <div class="modal fade" tabindex="-1" id="addModal" data-keyboard="false" data-backdrop="static">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content" style="width:400px">

                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h4 class="modal-header" style="height:40px;padding:0;margin:0;border-bottom:none">Thêm Phòng</h4>
                                        <div class="card-box" style="border-top: 2px solid purple">

                                            <div class="card-body row">
                                                <div class="col-lg-6 p-t-20">
                                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                                                        <input class="mdl-textfield__input" type="number"
                                                               pattern="^[0-9]{1,2}[:.,-]?$" id="solau-add">
                                                        <label class="mdl-textfield__label">Số Lầu</label>
                                                    </div>
                                                </div>



                                                <div class="col-lg-6 p-t-20">
                                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select getmdl-select__fix-height txt-full-width">
                                                        <input class="mdl-textfield__input" type="text" id="loaiphong-add" value="" readonly
                                                               tabIndex="-1">
                                                        <label for="loaiphong-add" class="pull-right margin-0">
                                                            <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
                                                        </label>
                                                        <label for="loaiphong-add" class="mdl-textfield__label">Loại Phòng</label>
                                                        <ul data-mdl-for="loaiphong-add" class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
                                                            <li class="mdl-menu__item">Phòng Loại 1</li>
                                                            <li class="mdl-menu__item">Phòng Loại 2</li>
                                                            <li class="mdl-menu__item">Phòng Loại 3</li>
                                                            <li class="mdl-menu__item">Phòng Loại 4</li>


                                                        </ul>
                                                    </div>
                                                </div>

                                                <div class="col-lg-6 p-t-20">
                                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                                                        <input class="mdl-textfield__input" type="number"
                                                               pattern="^[0-9]{1,2}[:.,-]?$" id="sophong-add">
                                                        <label class="mdl-textfield__label" for="sophong-add">Số Phòng</label>
                                                    </div>
                                                </div>

                                                <div class="col-lg-6 p-t-20">
                                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                                                        <input class="mdl-textfield__input" type="number"
                                                               pattern="-?[0-9]*(\.[0-9]+)?" id="gia-add">
                                                        <label class="mdl-textfield__label" for="gia-add">Giá</label>
                                                        <span class="mdl-textfield__error">Phải Là Số</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 p-t-20 text-center">
                                            <button type="button"
                                                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect m-b-10 m-r-20 btn-primary" id="btn-add">
                                                Thêm
                                            </button>
                                            <button type="button"
                                                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect m-b-10 btn-default" data-dismiss="modal">
                                                Hủy
                                            </button>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                    <!-----end modal-->
                    <!-- end page content -->
                </div>

                <div class="modal fade" tabindex="-1" id="editModal" data-keyboard="false" data-backdrop="static">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content" style="width:400px">

                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h4 class="modal-header" style="height:40px;padding:0;margin:0;border-bottom:none">Chỉnh Sửa Phòng</h4>
                                        <div class="card-box" style="border-top: 2px solid green">

                                            <div class="card-body row">
                                                <div class="col-lg-6 p-t-20">
                                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                                                        <input class="mdl-textfield__input" type="number"
                                                               pattern="^[0-9]{1,2}[:.,-]?$" id="solau-edit">
                                                        <label class="mdl-textfield__label" style="top:0;">Số Lầu</label>
                                                    </div>
                                                </div>

                                                <div class="col-lg-6 p-t-20">
                                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select getmdl-select__fix-height txt-full-width">
                                                        <input class="mdl-textfield__input" type="text" id="loaiphong-edit" value="" readonly data-id=""
                                                               tabIndex="-1">
                                                        <label for="loaiphong-edit" class="pull-right margin-0">
                                                            <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
                                                        </label>
                                                        <label for="loaiphong-edit" class="mdl-textfield__label" style="top:0;">Loại Phòng</label>
                                                        <ul data-mdl-for="loaiphong-edit" class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
                                                            <li class="mdl-menu__item">Phòng Loại 1</li>
                                                            <li class="mdl-menu__item">Phòng Loại 2</li>
                                                            <li class="mdl-menu__item">Phòng Loại 3</li>
                                                            <li class="mdl-menu__item">Phòng Loại 4</li>
                                                        </ul>
                                                    </div>
                                                </div>

                                                <div class="col-lg-6 p-t-20">
                                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                                                        <input class="mdl-textfield__input" type="number"
                                                               pattern="^[0-9]{1,2}[:.,-]?$" id="sophong-edit">
                                                        <label class="mdl-textfield__label" for="sophong-edit" style="top:0;">Số Phòng</label>
                                                    </div>
                                                </div>

                                                <div class="col-lg-6 p-t-20">
                                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                                                        <input class="mdl-textfield__input" type="number"
                                                               pattern="-?[0-9]*(\.[0-9]+)?" id="gia-edit">
                                                        <label class="mdl-textfield__label" for="gia-edit" style="top:0;">Giá</label>
                                                        <span class="mdl-textfield__error">Phải Là Số</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 p-t-20 text-center">
                                            <button type="button"
                                                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect m-b-10 m-r-20 btn-primary" id="btn-edit">
                                                Lưu
                                            </button>
                                            <button type="button"
                                                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect m-b-10 btn-default" data-dismiss="modal">
                                                Hủy
                                            </button>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                    <!-----end modal-->
                    <!-- end page content -->
                </div>

                <!-- end page container -->
                <!-- start footer -->
                <div class="page-footer">
                    <div class="page-footer-inner">
                        2020 &copy; Hotel Color

                    </div>
                    <div class="scroll-to-top">
                        <i class="icon-arrow-up"></i>
                    </div>
                </div>
                <!-- end footer -->
            </div>
        </div>
        <!-- start js include path -->
        <script src="~/Content/QuanLy/plugins/jquery/jquery.min.js"></script>
        <!--<script src="~/Content/QuanLy/plugins/popper/popper.min.js"></script>-->
        <script src="~/Content/QuanLy/plugins/jquery-blockui/jquery.blockui.min.js"></script>
        <script src="~/Content/QuanLy/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
        <!-- bootstrap -->
        <script src="~/Content/QuanLy/plugins/datatables/jquery.dataTables.min.js"></script>
        <script src="~/Content/QuanLy/plugins/datatables/plugins/bootstrap/dataTables.bootstrap4.min.js"></script>
        <script src="~/Content/QuanLy/plugins/bootstrap/js/bootstrap.min.js"></script>
        <!-- Material -->
        <script src="~/Content/QuanLy/plugins/material/material.min.js"></script>
        <script src="~/Content/QuanLy/js/pages/material_select/getmdl-select.js"></script>
        <!-- Common js-->
        <script src="~/Content/QuanLy/js/app.js"></script>
        <script src="~/Content/QuanLy/js/layout.js"></script>
        <script src="~/Content/QuanLy/js/theme-color.js"></script>
        <!--<script src="~//plugins/dropzone/dropzone.js"></script>-->
        <!--<script src="~//plugins/dropzone/dropzone-call.js"></script>-->
        <!-- Material -->
        <!--<script src="~/Content/QuanLy/plugins/material/material.min.js"></script>-->
        <!-- animation -->
        <script src="~/Content/QuanLy/js/pages/ui/animations.js"></script>
        <!-- end js include path -->
    </body>


    <!-- Mirrored from radixtouch.in/templates/admin/hotel/source/all_rooms.cshtml by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 13 Jan 2020 12:38:33 GMT -->
</cshtml>