<!DOCTYPE html>
<html lang="en">
<!-- BEGIN HEAD -->
<!-- Mirrored from radixtouch.in/templates/admin/hotel/source/index.cshtml by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 13 Jan 2020 12:35:49 GMT -->
<head>
    <meta charset="utf-8" />
    <title>Color Hotel</title>
    <!-- icons -->
    <link href="~/Content/QuanLy/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/QuanLy/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!--bootstrap -->
    <link href="~/Content/QuanLy/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/QuanLy/plugins/summernote/summernote.css" rel="stylesheet" />
    <!-- morris chart -->
    <link href="~/Content/QuanLy/plugins/morris/morris.css" rel="stylesheet" type="text/css" />
    <!-- Material Design Lite CSS -->
    <link href="~/Content/QuanLy/plugins/material/material.min.css" rel="stylesheet" />
    <link href="~/Content/QuanLy/css/material_style.css" rel="stylesheet" />
    <!-- animation -->
    <link href="~/Content/QuanLy/css/pages/animate_page.css" rel="stylesheet" />
    <!-- Template Styles -->
    <link href="~/Content/QuanLy/css/plugins.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/QuanLy/css/style.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/QuanLy/css/responsive.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/QuanLy/css/theme-color.css" rel="stylesheet" type="text/css" />
    <!-- favicon -->

    <link rel="shortcut icon" href="~/Content/QuanLy/img/logo.png" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="~/Content/QuanLy/Jquery.js"></script>
    <script src="~/Content/QuanLy/libs_function.js"></script>
    <link rel="stylesheet" href="~/Content/QuanLy/plugins/flatpicker/flatpickr.min.css">

    <link rel="shortcut icon" href="~/Content/QuanLy/img/logo.png" />
    <script type="text/javascript">
        $(document).ready(function () {
            checkSession();

            var layDSPhong = 'NhanVien/LayDanhSachPhong';
            var layKHTheoPhong = 'NhanVien/LayDanhSachTenKhachHangChungPhong/';
            var layChiPhiTheoPhong = 'NhanVien/LayThongTinChiPhiPhong/';
            var KHTraPhong = 'NhanVien/KhachHangTraPhong';
            var KHNhanPhong = 'NhanVien/KhachHangNhanPhong';


            var idModalTra = '#traphongModal';
            var idModalNhan = '#nhanphongModal';
            idNguoiDaiDien_Nhan = '#nguoidaidien-nhanp-ul';
            loadData(layDSPhong, function (data) {
                var min = parseInt(data[0].SoPhong.slice(0, -2));
                var max = parseInt(data[1].SoPhong.slice(0, -2));
                for (i = 2; i < data.length; i++) {
                    var tmp = parseInt(data[i].SoPhong.slice(0, -2));
                    if (tmp < min) {
                        min = tmp;
                    }
                    if (tmp > max) {
                        max = tmp;
                    }
                }
                for (i = min; i <= max; i++) {
                    $('#dstang').append('<h3 style="display: block;margin-left: 15px;" class="floor"> Tầng ' + i + '</h3><div style="display: grid;grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));grid-gap: 10px;width: 95%;margin: 0 auto;" id="row' + i + '"></div>')
                    $('#row' + i).empty();
                    $.each(data, function (index, val) {
                        var color = "bg-success";
                        if (val.TrangThai == -1) {
                            color = "bg-default";
                        } else if (val.TrangThai == 0) {
                            color = "bg-warning";
                        } else if (val.TrangThai == 2) {
                            color = "bg-primary";
                        }
                        if (val.SoPhong.slice(0, -2) == '' + i) {

                            $('#row' + i).append('<button class="info-box ' + color + '" style="border:none;outline:none;cursor:pointer;font-weight: 700;font-size: 25px;height:36px;min-height:0;display: flex;justify-content: center;align-items: center;" data-id="' + val.ID + '" value="' + val.SoPhong + '"> ' + val.SoPhong + '</button> ');
                        }
                    })
                }
                console.log(data);
            })
            var maPhong;
            var soPhong;
            var cmnd;
            var nguoiDaiDien;


            $('body').on('click', '.info-box.bg-warning', function () {
                maPhong = $(this).attr('data-id');
                console.log(maPhong);
                loadDataWithID(layKHTheoPhong, maPhong, function (data) {
                    $(idNguoiDaiDien_Nhan).empty();
                    $.each(data, function (index, val) {
                        $(idNguoiDaiDien_Nhan).append('<option value="' + val.ID + '">' + val.HoVaTen + '</option>');
                    })
                });
                $(idModalNhan).modal('show');
            })
            $('body').on('click', '#btn-nhanp', function () {
                cmnd = $('#cmnd-nhanp').val();
                nguoiDaiDien = $('#nguoidaidien-nhanp-ul option:selected').text();

                var dataInput = {
                    IDPhong: maPhong,
                    HoVaTen: nguoiDaiDien,
                    CMND: cmnd
                }
                var message = '';
                if (isEmpty(dataInput.CMND)) {
                    message += EMEmpty;
                }

                $(idModalNhan).modal('hide')
                if (message.length > 0) {

                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: message
                    }).then(() => {
                        $(idModalAdd).modal('show');
                    })
                } else {
                    console.log(dataInput);
                    KhachHangNhanTraPhong(KHNhanPhong, dataInput, function (data) {
                        Swal.fire(
                            'Nhận Phòng Thành Công!',
                            '',
                            'success'
                        )
                        window.location.reload();
                    });
                }




            })


            $('body').on('click', '.info-box.bg-success', function () {
                maPhong = $(this).attr('data-id');
                //soPhong = $(this).val();
                var info = {
                    idCMND: '#cmnd-trap',
                    idNguoiDaiDien: '#nguoidaidien-trap',
                    idDichVu: '#dsdvphong',
                }

                loadDataWithID(layChiPhiTheoPhong, maPhong, function (data) {
                    //select will empty when loaded
                    $(info.idCMND).empty();
                    $(info.idNguoiDaiDien).empty();
                    $(info.idDichVu).empty();
                    //tranfer data
                    $(info.idCMND).val(data[1]);
                    $(info.idCMND).html(data[1]);
                    $(info.idNguoiDaiDien).val(data[0]);
                    $(info.idNguoiDaiDien).html(data[0]);
                    //split





                    for (i = 2; i < data.length - 1; i++) {
                        var dataStr = data[i].split('-');
                        $(info.idDichVu).append('<tr style="font-size:13px"><th>' + dataStr[1] + '</th><th>' + dataStr[0] + '</th><th>' + dataStr[2] + '</th></tr>');
                    }


                    $(info.idDichVu).append('<tr><th>Tổng tiền</th><th></th><th id="giatien">' + data[data.length - 1] + '</th></tr>');
                });

                //LayThongTinPhong(info, maPhong);
                $(idModalTra).modal('show');
            })

            $('body').on('click', '#btn-trap', function () {
                cmnd = $('#cmnd-nhanp').val();
                $(idModalTra).modal('hide')

                var dataInput = {
                    IDPhong: maPhong,
                    CMND: cmnd
                }
                KhachHangNhanTraPhong(KHTraPhong, dataInput, function (data) {
                    Swal.fire(
                        'Trả Phòng Thành Công!',
                        '',
                        'success'
                    ).then(() => {
                        window.location.reload();
                    })

                });
            })




        });

    </script>
    <style>
        /*.popover {
            max-width: 500px;
            height: 300px;
        }*/
    </style>

</head>
<!-- END HEAD -->

<body class="page-header-fixed sidemenu-closed-hidelogo page-content-white page-md header-white dark-sidebar-color logo-dark">
    <div class="page-wrapper" style="overflow:hidden">
        <!-- start header -->
        <div class="page-header navbar navbar-fixed-top">
            <div class="page-header-inner ">
                <!-- logo start -->
                <div class="page-logo">
                    <a href="~/TrangChu.cshtml">
                        @*<img alt="" src="~/Content/QuanLy/img/logo.png">*@
                        <span class="logo-default">Color Hotel</span>
                    </a>
                </div>
                <!-- logo end -->
                <!--<ul class="nav navbar-nav navbar-left in">
                    <li><a href="../Phong_NhanVien/DanhSachPhong.cshtml" class="menu-toggler sidebar-toggler"><i class="icon-menu"></i></a></li>
                </ul>
                <form class="search-form-opened" action="#" method="GET">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search..." name="query">

                    </div>
                </form>-->
                <!-- start mobile menu -->
                <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse"
                   data-target=".navbar-collapse">
                    <span></span>
                </a>
                <!-- end mobile menu -->
                <!-- start header menu -->
                <div class="top-menu">
                    <ul class="nav navbar-nav pull-right">
                        <!-- start notification dropdown -->
                        <!-- end notification dropdown -->
                        <!-- start message dropdown -->
                        <!-- end message dropdown -->
                        <!-- start manage user dropdown -->
                        <li class="dropdown dropdown-user">
                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                               data-close-others="true">
                                <img alt="" class="img-circle " src="~/Content/QuanLy/img/nv.jpg" />
                                <span class="username username-hide-on-mobile nameuser">  </span>
                                <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-default animated jello">


                                <li class="divider"> </li>

                                <li>
                                    <a href="~/DangNhap.cshtml">
                                        <i class="icon-logout"></i> Log Out
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <!-- end manage user dropdown -->

                    </ul>
                </div>
            </div>
        </div>
        <!-- end header -->
        <!-- start page container -->
        <div class="page-container">
            <!-- start sidebar menu -->
            <div class="sidebar-container">
                <div class="sidemenu-container navbar-collapse collapse fixed-menu">
                    <div id="remove-scroll">
                        <ul class="sidemenu page-header-fixed p-t-20" data-keep-expanded="false" data-auto-scroll="true"
                            data-slide-speed="200">
                            <li class="sidebar-toggler-wrapper hide">
                                <div class="sidebar-toggler">
                                    <span></span>
                                </div>
                            </li>
                            <li class="sidebar-user-panel">
                                <div class="user-panel">
                                    <div class="row">
                                        <div class="sidebar-userpic">
                                            <img src="~/Content/QuanLy/img/nv.jpg" class="img-responsive" alt="">
                                        </div>
                                    </div>
                                    <div class="profile-usertitle">
                                        <div class="sidebar-userpic-name nameuser"></div>
                                        <div class="profile-usertitle-job" id="roleuser"></div>
                                    </div>

                                </div>
                            </li>




                            <li class="nav-item active nv">
                                <a href="/SEP23Team2/Views/NhanVienViews/Doan/Doan.cshtml" class="nav-link nav-toggle">
                                    <i class="material-icons">group</i>
                                    <span class="title">Đoàn</span>
                                    <span class="arrow"></span>
                                </a>

                            </li>
                            <li class="nav-item active nv">
                                <a href="/SEP23Team2/Views/NhanVienViews/DatPhongThanhCong/DatPhongThanhCong.cshtml" class="nav-link nav-toggle">
                                    <i class="material-icons">search</i>
                                    <span class="title">Đặt Phòng Thành Công</span>
                                    <span class="arrow"></span>
                                </a>

                            </li>
                            <li class="nav-item active nv">
                                <a href="/SEP23Team2/Views/NhanVienViews/DatPhongThatBai/DatPhongThatBai.cshtml" class="nav-link nav-toggle">
                                    <i class="material-icons">assignment_late</i>
                                    <span class="title">Đặt Phòng Thất Bại</span>
                                    <span class="arrow"></span>
                                </a>

                            </li>
                            <li class="nav-item active nv">
                                <a href="/SEP23Team2/Views/NhanVienViews/Phong_NhanVien/DanhSachPhong.cshtml" class="nav-link nav-toggle">
                                    <i class="material-icons">vpn_key</i>
                                    <span class="title">Phòng</span>
                                    <span class="arrow"></span>
                                </a>

                            </li>
                            <li class="nav-item active nv">
                                <a href="/SEP23Team2/Views/NhanVienViews/ThemDichVu/ThemDichVu.cshtml" class="nav-link nav-toggle">
                                    <i class="material-icons">queue</i>
                                    <span class="title">Thêm Dịch Vụ - Phòng</span>
                                    <span class="arrow"></span>
                                </a>

                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <!-- end sidebar menu -->
            <div class="page-content-wrapper">
                <div class="page-content" style="margin-top:10px;">
                    <div class="page-bar">
                        <div class="page-title-breadcrumb">
                            <div class="pull-left">
                                <div class="page-title">Danh Sách Phòng</div>
                            </div>




                            <ol class="breadcrumb page-breadcrumb pull-right">
                                <li>

                                    <i class="fa fa-home"></i>&nbsp;<a class="parent-item"
                                                                       href="DanhSachPhong.cshtml">Trang Chủ</a>&nbsp;<i class="fa fa-angle-right"></i>
                                </li>

                                <li class="active">Danh Sách Phòng</li>
                            </ol>
                        </div>
                    </div>
                    <div id="dstang">
                        @*<h3 style="display: block;margin-left: 15px;" class="floor"> Tầng 1</h3>
                            <div style="display: grid;grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));grid-gap: 10px;width: 95%;margin: 0 auto;" id="row1"></div>
                            <h3 style="display: block;margin-left: 15px;" class="floor"> Tầng 2</h3>
                            <div style="display: grid;grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));grid-gap: 10px;width: 95%;margin: 0 auto;" id="row2"></div>
                            <h3 style="display: block;margin-left: 15px;" class="floor"> Tầng 3</h3>
                            <div style="display: grid;grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));grid-gap: 10px;width: 95%;margin: 0 auto;" id="row3"></div>
                            <h3 style="display: block;margin-left: 15px;" class="floor"> Tầng 4</h3>
                            <div style="display: grid;grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));grid-gap: 10px;width: 95%;margin: 0 auto;" id="row4"></div>
                            <h3 style="display: block;margin-left: 15px;" class="floor"> Tầng 5</h3>
                            <div style="display: grid;grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));grid-gap: 10px;width: 95%;margin: 0 auto;" id="row5"></div>
                            <h3 style="display: block;margin-left: 15px;" class="floor"> Tầng 6</h3>
                            <div style="display: grid;grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));grid-gap: 10px;width: 95%;margin: 0 auto;" id="row6"></div>
                            <h3 style="display: block;margin-left: 15px;" class="floor"> Tầng 7</h3>
                            <div style="display: grid;grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));grid-gap: 10px;width: 95%;margin: 0 auto;" id="row7"></div>
                            <h3 style="display: block;margin-left: 15px;" class="floor"> Tầng 8</h3>
                            <div style="display: grid;grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));grid-gap: 10px;width: 95%;margin: 0 auto;" id="row8"></div>
                            <h3 style="display: block;margin-left: 15px;" class="floor"> Tầng 9</h3>
                            <div style="display: grid;grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));grid-gap: 10px;width: 95%;margin: 0 auto;" id="row9"></div>*@


                    </div>
                </div>
            </div>
            <div class="modal fade" tabindex="-1" id="nhanphongModal" data-keyboard="false" data-backdrop="static">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content" style="width:400px">

                        <div class="modal-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h4 class="modal-header" style="height:40px;padding:0;margin:0;border-bottom:none">Nhận Phòng</h4>
                                    <div class="card-box" style="border-top: 2px solid purple">

                                        <div class="card-body row">
                                            <div class="col-lg-12 p-t-20">
                                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                                                    <input class="mdl-textfield__input" type="text" id="cmnd-nhanp">
                                                    <label class="mdl-textfield__label">CMND</label>
                                                </div>
                                            </div>

                                            <div class="col-lg-12 p-t-20">
                                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select getmdl-select__fix-height txt-full-width">
                                                    <select id="nguoidaidien-nhanp-ul" class="form-control">
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 p-t-20 text-center">
                                        <button type="button"
                                                class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect m-b-10 m-r-20 btn-primary" id="btn-nhanp">
                                            Nhận Phòng
                                        </button>
                                        <button type="button"
                                                class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect m-b-10 btn-default" data-dismiss="modal">
                                            Hủy
                                        </button>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                <!-- End Modal -->
                <!-- end chat sidebar -->
            </div>
            <div class="modal fade" tabindex="-1" id="traphongModal" data-keyboard="false" data-backdrop="static">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content" style="width:500px">

                        <div class="modal-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h4 class="modal-header" style="height:40px;padding:0;margin:0;border-bottom:none">Trả Phòng</h4>
                                    <div class="card-box" style="border-top: 2px solid cyan">

                                        <div class="card-body row">
                                            <div class="col-lg-12 p-t-20">
                                                <label class="mdl-textfield__label" style="top:0;">CMND</label>
                                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                                                    <label class="mdl-textfield__input" type="text" id="cmnd-trap" value=""></label>

                                                </div>
                                            </div>
                                            <div class="col-lg-12 p-t-20">
                                                <label class="mdl-textfield__label" style="top:0;">Người Đại Diện</label>
                                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                                                    <label class="mdl-textfield__input" type="text" id="nguoidaidien-trap"></label>

                                                </div>
                                            </div>

                                            <div class="col-lg-12 p-t-20">
                                                <table style="width:100%" border="1">
                                                    <thead>
                                                        <tr>
                                                            <th>Tên Khách Hàng</th>
                                                            <th>Dịch Vụ</th>
                                                            <th>Giá</th>
                                                        </tr>
                                                    </thead>

                                                    <tbody id="dsdvphong">
                                                    </tbody>

                                                    @*<tr>
                                                            <th>Tổng tiền</th>
                                                            <th></th>
                                                            <th id="giatien"></th>
                                                        </tr>*@

                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 p-t-20 text-center">
                                        <button type="button"
                                                class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect m-b-10 m-r-20 btn-danger" id="btn-trap">
                                            Trả Phòng
                                        </button>

                                        <button type="button"
                                                class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect m-b-10 btn-default" data-dismiss="modal">
                                            Hủy
                                        </button>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                <!-- End Modal -->
                <!-- end chat sidebar -->
            </div>

            <!-- Modal -->
            <!-- end page container -->
            <!-- start footer -->
            <div class="page-footer">
                <div class="page-footer-inner">
                    2020 &copy; Hotel Color

                </div>
                <div class="scroll-to-top">
                    <i class="icon-arrow-up"></i>
                </div>
            </div>
            <!-- end footer -->
        </div>
    </div>
    <!-- start js include path -->
    <script src="~/Content/QuanLy/plugins/jquery/jquery.min.js"></script>
    <script src="~/Content/QuanLy/plugins/popper/popper.min.js"></script>
    <script src="~/Content/QuanLy/plugins/jquery-blockui/jquery.blockui.min.js"></script>
    <script src="~/Content/QuanLy/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <!-- bootstrap -->
    <script src="~/Content/QuanLy/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/QuanLy/plugins/sparkline/jquery.sparkline.min.js"></script>
    <script src="~/Content/QuanLy/js/pages/sparkline/sparkline-data.js"></script>
    <!-- Common js-->
    <script src="~/Content/QuanLy/js/app.js"></script>
    <script src="~/Content/QuanLy/js/layout.js"></script>
    <script src="~/Content/QuanLy/js/theme-color.js"></script>
    <!-- material -->
    <script src="~/Content/QuanLy/plugins/material/material.min.js"></script>
    <!-- animation -->
    <script src="~/Content/QuanLy/js/pages/ui/animations.js"></script>

    <!-- end js include path -->

    <script src="~/Content/QuanLy/plugins/flatpicker/flatpickr.min.js"></script>
    <script src="~/Content/QuanLy/js/pages/datetime/datetime-data.js"></script>

    @*<script src="~/Content/QuanLy/js/pages/material-loading/material-loading.js"></script>*@
    @*<script type="text/javascript">
            $(document).ready(function () {
                checkSession();

                var layDSPhong = 'NhanVien/LayDanhSachPhong';

                loadDSPhong(layDSPhong);



            });
        </script>*@


</body>


<!-- Mirrored from radixtouch.in/templates/admin/hotel/source/index.cshtml by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 13 Jan 2020 12:36:48 GMT -->
</html>