<!DOCTYPE html>
<html lang="en">
<!-- BEGIN HEAD -->
<!-- Mirrored from radixtouch.in/templates/admin/hotel/source/index.cshtml by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 13 Jan 2020 12:35:49 GMT -->
<head>
    <meta charset="utf-8" />
    <title>Color Hotel</title>
    <!-- icons -->
    <link href="~/Content/QuanLy/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/QuanLy/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!--bootstrap -->
    <link href="~/Content/QuanLy/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/QuanLy/plugins/summernote/summernote.css" rel="stylesheet">
    <!-- morris chart -->
    <link href="~/Content/QuanLy/plugins/morris/morris.css" rel="stylesheet" type="text/css" />
    <!-- Material Design Lite CSS -->
    <link rel="stylesheet" href="~/Content/QuanLy/plugins/material/material.min.css">
    <link rel="stylesheet" href="~/Content/QuanLy/css/material_style.css">
    <!-- animation -->
    <link href="~/Content/QuanLy/css/pages/animate_page.css" rel="stylesheet">
    <link href="~/Content/QuanLy/plugins/datatables/plugins/bootstrap/dataTables.bootstrap4.min.css" rel="stylesheet"
          type="text/css" />
    <!-- Template Styles -->
    <link href="~/Content/QuanLy/css/plugins.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/QuanLy/css/style.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/QuanLy/css/responsive.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/QuanLy/css/theme-color.css" rel="stylesheet" type="text/css" />
    <!-- favicon -->

    <link rel="shortcut icon" href="~/Content/QuanLy/img/logo.png" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="~/Content/QuanLy/Jquery.js"></script>
    <script src="~/Content/QuanLy/libs_function.js"></script>
    <style>
       #dsthanhvien tr td {
            border: none;
            background: none;
        }
    </style>
    <script type="text/javascript">

        $(document).ready(function () {

            var idList = $('#dsthanhvien');
            var layDS = 'KhachHang/LayDanhSachKhachHangTheoMaDoan/';
            checkSession();

            loadDataWithID(layDS, sessionStorage.getItem('madoan'), function (data) {
                console.log(data);

                var tgNhan = new Date(data[0].ThoiGianNhan);
                var tgTra = new Date(data[0].ThoiGianTra);
                var strTime = 'Từ <span style="font-size: 18px;font-weight:700;">' + tgNhan.getDate() + '-' + (tgNhan.getMonth() + 1) + '-' + tgNhan.getFullYear() + '</span>&nbsp;&nbsp; Đến <span style="font-size: 18px;font-weight:700;">' + '' + tgTra.getDate() + '-' + (tgTra.getMonth() + 1) + '-' + tgTra.getFullYear() + '</span>';
                $('#time').html(strTime);

                $(idList).DataTable({
                    destroy: true,
                    data: data,
                    columns: [
                        { 'data': 'HoVaTen' },
                        { 'data': 'SoDienThoai' },
                        { 'data': 'Email' },
                        { 'data': 'NguoiDaiDienCuaTreEm' },
                        { 'data': 'Nhom' },
                        { 'data': 'Sophong' },

                    ],
                    "columnDefs": [
                    ]
                });
            });


            $('.fullname').html(sessionStorage.getItem('fullname'));
        });
    </script>

</head>
<!-- END HEAD -->

<body class="page-header-fixed sidemenu-closed-hidelogo page-content-white page-md header-white dark-sidebar-color logo-dark">
    <div class="page-wrapper" style="overflow:hidden">
        <!-- start header -->
        <div class="page-header navbar navbar-fixed-top">
            <div class="page-header-inner ">
                <!-- logo start -->
                <div class="page-logo">
                    <a href="~/TrangChu.cshtml">
                        <span class="logo-default">Color Hotel</span>
                    </a>
                </div>
                <!-- logo end -->
                <!-- start mobile menu -->
                <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse"
                   data-target=".navbar-collapse">
                    <span></span>
                </a>
                <!-- end mobile menu -->
                <!-- start header menu -->
                <div class="top-menu">
                    <ul class="nav navbar-nav pull-right">
                        <!-- start notification dropdown -->
                        <!-- end notification dropdown -->
                        <!-- start message dropdown -->
                        <!-- end message dropdown -->
                        <!-- start manage user dropdown -->
                        <li class="dropdown dropdown-user">
                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                               data-close-others="true">
                                <img alt="" class="img-circle " src="~/Content/QuanLy/img/nv.jpg" />
                                <span class="username username-hide-on-mobile nameuser"> </span>
                                <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-default animated jello">


                                <li class="divider"> </li>

                                <li>
                                    <a href="~/DangNhap.cshtml">
                                        <i class="icon-logout"></i> Log Out
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <!-- end manage user dropdown -->

                    </ul>
                </div>
            </div>
        </div>
        <!-- end header -->
        <!-- start page container -->
        <div class="page-container">
            <!-- start sidebar menu -->
            <div class="sidebar-container">
                <div class="sidemenu-container navbar-collapse collapse fixed-menu">
                    <div id="remove-scroll">
                        <ul class="sidemenu page-header-fixed p-t-20" data-keep-expanded="false" data-auto-scroll="true"
                            data-slide-speed="200">
                            <li class="sidebar-toggler-wrapper hide">
                                <div class="sidebar-toggler">
                                    <span></span>
                                </div>
                            </li>
                            <li class="sidebar-user-panel">
                                <div class="user-panel">
                                    <div class="row">
                                        <div class="sidebar-userpic">
                                            <img src="~/Content/QuanLy/img/nv.jpg" class="img-responsive" alt="">
                                        </div>
                                    </div>
                                    <div class="profile-usertitle">
                                        <div class="sidebar-userpic-name nameuser"></div>
                                        <div class="profile-usertitle-job" id="roleuser"> </div>
                                    </div>

                                </div>
                            </li>


                            <li class="nav-item active nv">
                                <a href="/SEP23Team2/Views/NhanVienViews/Doan/Doan.cshtml" class="nav-link nav-toggle">
                                    <i class="material-icons">group</i>
                                    <span class="title">Đoàn</span>
                                    <span class="arrow"></span>
                                </a>

                            </li>
                            <li class="nav-item active nv">
                                <a href="/SEP23Team2/Views/NhanVienViews/DatPhongThanhCong/DatPhongThanhCong.cshtml" class="nav-link nav-toggle">
                                    <i class="material-icons">search</i>
                                    <span class="title">Đặt Phòng Thành Công</span>
                                    <span class="arrow"></span>
                                </a>

                            </li>
                            <li class="nav-item active nv">
                                <a href="/SEP23Team2/Views/NhanVienViews/DatPhongThatBai/DatPhongThatBai.cshtml" class="nav-link nav-toggle">
                                    <i class="material-icons">assignment_late</i>
                                    <span class="title">Đặt Phòng Thất Bại</span>
                                    <span class="arrow"></span>
                                </a>

                            </li>
                            <li class="nav-item active nv">
                                <a href="/SEP23Team2/Views/NhanVienViews/Phong_NhanVien/DanhSachPhong.cshtml" class="nav-link nav-toggle">
                                    <i class="material-icons">vpn_key</i>
                                    <span class="title">Phòng</span>
                                    <span class="arrow"></span>
                                </a>

                            </li>
                            <li class="nav-item active nv">
                                <a href="/SEP23Team2/Views/NhanVienViews/ThemDichVu/ThemDichVu.cshtml" class="nav-link nav-toggle">
                                    <i class="material-icons">queue</i>
                                    <span class="title">Thêm Dịch Vụ - Phòng</span>
                                    <span class="arrow"></span>
                                </a>

                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- end sidebar menu -->
            <div class="page-content-wrapper" style="margin-top:10px;">
                <div class="page-content">
                    <div class="page-bar">
                        <div class="page-title-breadcrumb">
                            <div class=" pull-left">
                                <div class="page-title">Danh Sách Thành Viên Trong Đoàn</div>
                            </div>
                            <ol class="breadcrumb page-breadcrumb pull-right">
                                <li>
                                    <i class="fa fa-home"></i>&nbsp;<a class="parent-item"
                                                                       href="../Phong_NhanVien/DanhSachPhong.cshtml">Trang Chủ</a>&nbsp;<i class="fa fa-angle-right"></i>
                                </li>

                                <li class="active">Danh Sách Thành Viên Trong Đoàn</li>
                            </ol>
                        </div>
                    </div>
                    <div class="row" style="">
                        <div class="col-md-11" style="margin: 0 auto;">
                            <div class="card card-box" style="border-top: 2px solid purple">

                                <div class="card-body ">

                                    <div class="table-scrollable" style="min-height:425px">
                                        <table class="table table-hover table-checkable order-column full-width"
                                               id="dsthanhvien">
                                            <thead>
                                                <tr>
                                                    <th class="" style="min-width:160px;"> Họ và Tên </th>
                                                    <th class="" style=""> SĐT</th>
                                                    <th class="" style="max-width:160px"> Email</th>
                                                    <th class="" style="min-width:180px;"> Nguời Đại Diện</th>
                                                    <th class="" style=""> Nhóm</th>
                                                    <th class="" style=""> Phòng </th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal -->
            <!-- end page container -->
            <!-- start footer -->
            <div class="page-footer">
                <div class="page-footer-inner">
                    2020 &copy; Hotel Color

                </div>
                <div class="scroll-to-top">
                    <i class="icon-arrow-up"></i>
                </div>
            </div>
            <!-- end footer -->
        </div>
    </div>
    <!-- start js include path -->
    <script src="~/Content/QuanLy/plugins/jquery/jquery.min.js"></script>
    <script src="~/Content/QuanLy/plugins/popper/popper.min.js"></script>
    <script src="~/Content/QuanLy/plugins/jquery-blockui/jquery.blockui.min.js"></script>
    <script src="~/Content/QuanLy/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <!-- bootstrap -->
    <script src="~/Content/QuanLy/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/QuanLy/plugins/sparkline/jquery.sparkline.min.js"></script>
    <script src="~/Content/QuanLy/js/pages/sparkline/sparkline-data.js"></script>
    <script src="~/Content/QuanLy/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Content/QuanLy/plugins/datatables/plugins/bootstrap/dataTables.bootstrap4.min.js"></script>
    <!-- Common js-->

    <script src="~/Content/QuanLy/js/app.js"></script>
    <script src="~/Content/QuanLy/js/layout.js"></script>
    <script src="~/Content/QuanLy/js/theme-color.js"></script>
    <!-- material -->
    <script src="~/Content/QuanLy/plugins/material/material.min.js"></script>

    <!-- animation -->
    <script src="~/Content/QuanLy/js/pages/ui/animations.js"></script>
    <!-- end js include path -->
</body>


<!-- Mirrored from radixtouch.in/templates/admin/hotel/source/index.cshtml by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 13 Jan 2020 12:36:48 GMT -->
</html>