<!--Upload Form-->
    <form>
        <table>
            <label class="font-weight-bold" for="fullname">Tên Đoàn</label>
            <input type="text" name="name" id="tendoan" class="form-control" required @*placeholder="Ví dụ: Đoàn TP HCM"*@>

            <tr>
                <td colspan="2">File Upload</td>
            </tr>



            <tr>
                <th>Select File </th>
                <td><input id="csv" name="csv" type="file" /></td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="submit" />
                </td>
            </tr>
        </table>
        <script>
            //form Submit
            $("csv").submit(function (evt) {
                evt.preventDefault();
                var formData = new FormData($(this)[0]);
                $.ajax({
                    url: 'fileUpload',
                    type: 'POST',
                    data: formData,
                    async: false,
                    cache: false,
                    contentType: false,
                    enctype: 'multipart/form-data',
                    processData: false,
                    success: function (response) {
                        alert(response);
                    }
                });
                return false;
            });
        </script>
        <div>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/jszip.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/xlsx.js"></script>
            <script>
                var ExcelToJSON = function () {

                    this.parseExcel = function (file) {
                        var reader = new FileReader();

                        reader.onload = function (e) {
                            var data = e.target.result;
                            var workbook = XLSX.read(data, {
                                type: 'binary'
                            });
                            workbook.SheetNames.forEach(function (sheetName) {
                                // Here is your object
                                var XL_row_object = XLSX.utils.sheet_to_row_object_array(workbook.Sheets[sheetName]);
                                var json_object = JSON.stringify(XL_row_object);
                                console.log(JSON.parse(json_object));
                                jQuery('#xlx_json').val(json_object);
                            })
                        };

                        reader.onerror = function (ex) {
                            console.log(ex);
                        };

                        reader.readAsBinaryString(file);
                    };
                };

                function handleFileSelect(evt) {

                    var files = evt.target.files; // FileList object
                    var xl2json = new ExcelToJSON();
                    xl2json.parseExcel(files[0]);
                }



            </script>


            <textarea class="form-control" rows=35 cols=120 id="xlx_json"></textarea>
            @*<input type="file" id="file-upload" required>*@
            <script>
                document.getElementById('csv').addEventListener('change', handleFileSelect, false);

            </script>







        </div>

    </form>