<html>
<script src="dist/sweetalert.min.js"></script>
<link rel="stylesheet" type="text/css" href="dist/sweetalert.css">
<div>
    <button onclick="swal('Title');">Demo1</button>
    <button onclick="swal('Title', 'Message')">Demo2</button>
    <button onclick="swal('Title', 'Message', 'success')">Demo3</button>
    <button onclick="swal('Title', 'Message', 'error')">Demo4</button>
    <button onclick="swal('Title', 'Message', 'warning')">Demo5</button>
</div>
</html>