<!DOCTYPE html>
<html>


<!-- Mirrored from radixtouch.in/templates/admin/hotel/source/login.cshtml by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 13 Jan 2020 12:38:06 GMT -->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta name="description" content="Responsive Admin Template" />
    <meta name="author" content="SmartUniversity" />
    <title>Color Hotel | Đăng Nhập</title>
    <!-- icons -->
    <link href="~/Content/QuanLy/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/Content/QuanLy/plugins/iconic/css/material-design-iconic-font.min.css">
    <!-- bootstrap -->
    <link href="~/Content/QuanLy/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- style -->
    <link rel="stylesheet" href="~/Content/QuanLy/css/pages/extra_pages.css">
    <!-- favicon -->

    <link rel="shortcut icon" href="~/Content/QuanLy/img/logo.png" />

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <style>
        #btn-close:hover {
            color: red;
        }
    </style>
</head>

<body>
    <div class="limiter">

        <div class="container-login100 page-background">

            <div class="wrap-login100" style="padding-top:0px;position:relative">
                <button id="btn-close" style=" width: 40px; height: 40px; position: absolute; top: 5px; right: 5px; padding: 3px 2px 8px 3px; border-radius: 50%; transition: .4s; font-size: 30px; text-align: center;" type="button" class="close" aria-label="Close" onclick="window.location.href='TrangChu.cshtml'">
                    <span aria-hidden="true">&times;</span>
                </button>


                <form class="login100-form validate-form" id="dangnhap" method="post" enctype="multipart/form-data" onsubmit="return false">

                    <span class="login100-form-title p-b-34 p-t-27" style="padding-bottom:10px">

                        <img src="~/Content/Home/images/logo1.png" alt="Mẫu File DS" width="200" height="200">
                    </span>
                    <span class="login100-form-title p-b-34 p-t-27" style="padding-top:0px">
                        Đăng Nhập
                    </span>
                    <div class="wrap-input100">
                        <input class="input100" type="text" name="username" id="username" placeholder="Tên đăng nhập">
                        <span class="focus-input100" data-placeholder="&#xf207;"></span>
                    </div>

                    <div class="wrap-input100">
                        <input class="input100" type="password" name="pass" id="pass" placeholder="Mật khẩu">
                        <span class="focus-input100" data-placeholder="&#xf191;"></span>

                    </div>
                    <div class="contact100-form-checkbox">
                        <input class="input-checkbox100" value="lsRememberMe" id="ckb1" type="checkbox" name="remember-me">
                        <label class="label-checkbox100" for="ckb1">
                            Ghi Nhớ Tài Khoản
                        </label>
                        <script>
                            const rmCheck = document.getElementById("ckb1"),
                                emailInput = document.getElementById("username");

                            if (localStorage.checkbox && localStorage.checkbox !== "") {
                                rmCheck.setAttribute("checked", "checked");
                                emailInput.value = localStorage.username;
                            } else {
                                rmCheck.removeAttribute("checked");
                                emailInput.value = "";
                            }

                            function lsRememberMe() {
                                if (rmCheck.checked && emailInput.value !== "") {
                                    localStorage.username = emailInput.value;
                                    localStorage.checkbox = rmCheck.value;
                                } else {
                                    localStorage.username = "";
                                    localStorage.checkbox = "";
                                }
                            }
                        </script>
                    </div>
                    <br />
                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn" type="submit" onclick="lsRememberMe()">
                            Đăng Nhập
                        </button>

                    </div>
                    <div class="text-center p-t-90" onclick="quenmk">

                    </div>
                    <script type="text/javascript">
                        $(document).ready(function () {
                            sessionStorage.clear();
                            $('#dangnhap').submit(function () {

                                $.ajax({
                                    url: '/SEP23Team2/token',
                                    method: 'POST',
                                    headers: { 'content-type': 'application/json', 'data-type': 'json' },
                                    data: {
                                        username: $('#username').val(),
                                        password: $('#pass').val(),
                                        grant_type: 'password'
                                    },
                                    success: function (response) {
                                        sessionStorage.setItem('accessToken', response.access_token);
                                        $.ajax({
                                            url: '/SEP23Team2/api/Home/LayUserRoles',
                                            method: 'GET',
                                            headers: {
                                                'content-type': 'application/json',
                                                'data-type': 'json',
                                                'Authorization': 'bearer ' + sessionStorage.getItem('accessToken')
                                            },
                                            success: function (response) {
                                                var data = response.split("-");

                                                var role = data[0];
                                                var fullname = data[1];
                                                var madoan = data[2];

                                                sessionStorage.setItem('role', role);
                                                sessionStorage.setItem('fullname', fullname);
                                                sessionStorage.setItem('madoan', madoan);
                                                switch (sessionStorage.getItem('role')) {
                                                    case 'ql':
                                                        window.location.href = "views/QuanLyViews/ThongKe/thongke.cshtml";
                                                        break;
                                                    case 'nv':
                                                        window.location.href = "views/NhanVienViews/Doan/Doan.cshtml";
                                                        break;
                                                    case 'kh':
                                                        window.location.href = "views/KhachHangViews/DSThanhVien.cshtml";
                                                        break;
                                                }
                                            },
                                            error: function (data) {
                                                swal({
                                                    type: 'error',
                                                    title: 'Đăng Nhập Thất Bại',
                                                    text: 'Vui Lòng Kiểm Tra Lại Tài Khoản Và Mật Khẩu',
                                                });
                                            }

                                        })
                                    },
                                    error: function (data) {
                                        swal({
                                            type: 'error',
                                            title: 'Đăng Nhập Thất Bại',
                                            text: 'Vui Lòng Kiểm Tra Lại Tài Khoản Và Mật Khẩu',
                                        });
                                    }
                                });


                            });

                        });

                    </script>
                </form>
            </div>
        </div>
    </div>
    <!-- start js include path -->
    <script src="~/Content/QuanLy/plugins/jquery/jquery.min.js"></script>
    <!-- bootstrap -->
    <script src="~/Content/QuanLy/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/QuanLy/js/pages/extra_pages/login.js"></script>
    <!-- end js include path -->
</body>


<!-- Mirrored from radixtouch.in/templates/admin/hotel/source/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 13 Jan 2020 12:38:06 GMT -->
</html>