@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>

    <link href="~/Content/Home/ChiTietPhong/css/style.css" rel="stylesheet" />
    <link href="~/Content/Home/ChiTietPhong/css/reset.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <link rel="icon" type="image/png" href="~/Content/Home/images/logo1.png" />
    <title>Color Hotel</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Work+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/Home/fonts/icomoon/style.css">
    <link rel="stylesheet" href="~/Content/Home/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/Home/css/magnific-popup.css">
    <link rel="stylesheet" href="~/Content/Home/css/jquery-ui.css">
    <link rel="stylesheet" href="~/Content/Home/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/Home/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Content/Home/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/Content/Home/css/animate.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mediaelement@4.2.7/build/mediaelementplayer.min.css">
    <link rel="stylesheet" href="~/Content/Home/fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="~/Content/Home/css/aos.css">
    <link rel="stylesheet" href="~/Content/Home/css/style.css">
    <script src="~/Content/QuanLy/libs_function.js"></script>
    <style>
        #name ul li a {
            font-size: 13px;
            color: #484747;
            margin: 3px 6px
        }
        #name ul li a:hover {
            color: #f23a2e;
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function () {
            console.log(sessionStorage.getItem('accessToken'));
            checkSessionHome();
        })
    </script>
</head>
<body>

    <div class="site-wrap">
        <div class="site-mobile-menu">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div> <!-- .site-mobile-menu -->
        <div class="site-navbar-wrap js-site-navbar bg-white">
            <div class="container">
                <div class="site-navbar bg-light">
                    <div class="py-1">
                        <div class="row align-items-center">
                            <div class="col-2">
                                <h2 class="mb-0 site-logo"><a href="TrangChu.cshtml">Color Hotel</a></h2>
                            </div>
                            <div class="col-10">
                                <nav class="site-navigation text-right" role="navigation">
                                    <div class="container">
                                        <div class="d-inline-block d-lg-none  ml-md-0 mr-auto py-3"><a href="#" class="site-menu-toggle js-menu-toggle"><span class="icon-menu h3"></span></a></div>
                                        <ul class="site-menu js-clone-nav d-none d-lg-block">
                                            <li class="active">
                                                <a href="~/TrangChu.cshtml">Trang Chủ</a>
                                            </li>

                                            <li><a href="GioiThieu.cshtml">Giới Thiệu</a></li>

                                            <li><a href="GuiFileDSDoan.cshtml">Đặt Phòng</a></li>
                                            <li id="dn"><a href="~/DangNhap.cshtml" class="btn btn-primary pill text-white px-4">Đăng Nhập</a></li>
                                            <li class="dropdown dropdown-user" id="name" style="display:none;">
                                                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                                                   data-close-others="true">
                                                    <span class="username username-hide-on-mobile nameuser"></span>
                                                    <i class="fa fa-angle-down"></i>
                                                </a>
                                                <ul class="dropdown-menu dropdown-menu-default jello">
                                                    <li id="nv">
                                                        <a href="~/Views/NhanVienViews/Doan/Doan.cshtml">Về Trang Nhân Viên
                                                        </a>
                                                    </li>
                                                    <li id="ql">
                                                        <a href="~/Views/QuanLyViews/ThongKe/ThongKe.cshtml"> Về Trang Quản Lý
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="~/DangNhap.cshtml"> Đăng Xuất
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>

                                        </ul>
                                    </div>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="site-wrap">

            <div class="site-mobile-menu">
                <div class="site-mobile-menu-header">
                    <div class="site-mobile-menu-close mt-3">
                        <span class="icon-close2 js-menu-toggle"></span>
                    </div>
                </div>
                <div class="site-mobile-menu-body"></div>
            </div> <!-- .site-mobile-menu -->

            <div class="slide-one-item home-slider owl-carousel">

                <div class="site-blocks-cover overlay" style="background-image: url('https://pix10.agoda.net/hotelImages/520/52033/52033_17090518240056008228.jpg?s=1024x768');" data-aos="fade" data-stellar-background-ratio="0.5">
                    <div class="container">
                        <div class="row align-items-center justify-content-center">
                            <div class="col-md-7 text-center" data-aos="fade">

                                <h1 class="mb-2">Chào Mừng Đến Với Color Hotel</h1>
                                <h2 class="caption">Hotel &amp; Resort</h2>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="site-blocks-cover overlay" style="background-image: url('https://pix6.agoda.net/hotelImages/520/52033/52033_17090519050056008927.jpg?s=1024x768');" data-aos="fade" data-stellar-background-ratio="0.5">
                    <div class="container">
                        <div class="row align-items-center justify-content-center">
                            <div class="col-md-7 text-center" data-aos="fade">
                                <h1 class="mb-2">Trải Nghiệm Độc Đáo</h1>
                                <h2 class="caption">Tận Hưởng Với Chúng Tôi</h2>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="site-blocks-cover overlay" style="background-image: url('https://pix6.agoda.net/hotelImages/52033/-1/b3abd6de5b74a81e714d681e7caee4d6.jpg?s=1024x768');" data-aos="fade" data-stellar-background-ratio="0.5">
                    <div class="container">
                        <div class="row align-items-center justify-content-center">
                            <div class="col-md-7 text-center" data-aos="fade">
                                <h1 class="mb-2">Thư Giãn Trong Chính Căn Phòng Của Bạn</h1>
                                <h2 class="caption">Không Gian Của Bạn, Khoảng Khắc Của Bạn</h2>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div @*class="site-section bg-light"*@>
                <br />
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 mx-auto text-center mb-5 section-heading">
                            <h2 class="mb-5">Các Loại Phòng</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-lg-3 mb-5">
                            <div class="hotel-room text-center">
                                <ul class="cd-items cd-container" style="padding:0;width: 100%;">
                                    <li class="cd-item" style="width:100%; margin: 0;">
                                        <img src="~/Content/Home/ChiTietPhong/img/1.jpg" alt="Item Preview" class="img-responsive">
                                        <button class="cd-trigger" id="xct1">Xem Chi Tiết</button>
                                    </li>
                                </ul>
                                <div class="hotel-room text-center">
                                    <div class="hotel-room-body">
                                        <h3 class="heading mb-0"><a>Phòng Đơn</a></h3>
                                        <strong class="price">1.000.000 vnđ  / Ngày</strong>
                                    </div>
                                    <script>
                                        $(document).ready(function (e) {
                                            $("#xct1").click(function () {
                                                $("#cdqv2").hide();
                                                $("#cdqv3").hide();
                                                $("#cdqv4").hide();
                                                $("#cdqv1").show();
                                            });
                                        });
                                    </script>
                                    <div class="cd-quick-view" style="margin-top: 30px" id="cdqv1">

                                        <div class="cd-slider-wrapper" id="cssw1">
                                            <ul class="cd-slider">
                                                <li class="selected"><img src="~/Content/Home/ChiTietPhong/img/1.jpg" alt="Product 1"></li>
                                                <li><img src="~/Content/Home/ChiTietPhong/img/3.jpg" alt="Product 2"></li>
                                                <li><img src="~/Content/Home/ChiTietPhong/img/2.jpg" alt="Product 3"></li>
                                            </ul> <!-- cd-slider -->
                                            <ul class="cd-slider-navigation">
                                                <li><a class="cd-next">Prev</a></li>
                                                <li><a class="cd-prev">Next</a></li>
                                            </ul> <!-- cd-slider-navigation -->
                                        </div> <!-- cd-slider-wrapper -->
                                        <div class="cd-item-info" id="product_view" style="margin-top:-38px">
                                            <h2>PHÒNG ĐƠN</h2>
                                            <p align="left" style="color:black">
                                                <b>Số Khách:</b>  2 Khách
                                                <br>
                                                <b>Kích Thước:</b>  32m2
                                                <br>
                                                <b>Tiện Ích Trong Phòng:</b>Máy Lạnh, Tivi, Tủ Lạnh, Máy Nước Nóng Lạnh...
                                                <br>
                                                <b>Hướng Nhìn: </b> Toàn Cảnh Sông Hoài...
                                                <br>
                                            </p>
                                        </div> <!-- cd-item-info -->
                                        <a href="#" class="cd-close">Close</a>
                                    </div> <!-- cd-quick-view -->
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3 mb-5">
                            <div class="hotel-room text-center">
                                <script>
                                    $(document).ready(function (e) {
                                        $("#xct2").click(function () {
                                            $("#cdqv1").hide();
                                            $("#cdqv3").hide();
                                            $("#cdqv4").hide();
                                            $("#cdqv2").show();
                                        });
                                    });
                                </script>
                                <ul class="cd-items cd-container" style="padding:0;width: 100%;">
                                    <li class="cd-item" style="width:100%; margin: 0;">
                                        <img src="~/Content/Home/ChiTietPhong/img/4.jpg" alt="Item Preview" class="img-responsive">
                                        <button class="cd-trigger" id="xct2">Xem Chi Tiết</button>
                                    </li>
                                </ul>
                                <div class="hotel-room text-center">
                                    <div class="hotel-room-body">
                                        <h3 class="heading mb-0"><a>Phòng Đôi</a></h3>
                                        <strong class="price">2.000.000 vnđ  / Ngày</strong>
                                    </div>
                                    <div class="cd-quick-view" style="margin-top: 30px" id="cdqv2">
                                        <div class="cd-slider-wrapper" id="cdsw2">
                                            <ul class="cd-slider">
                                                <li class="selected"><img src="~/Content/Home/ChiTietPhong/img/4.jpg" alt="Product 4"></li>
                                                <li><img src="~/Content/Home/ChiTietPhong/img/6.jpg" alt="Product 5"></li>
                                                <li><img src="~/Content/Home/ChiTietPhong/img/5.jpg" alt="Product 6"></li>
                                            </ul> <!-- cd-slider -->
                                            <ul class="cd-slider-navigation" id="cdsn2">
                                                <li><a class="cd-next">Prev</a></li>
                                                <li><a class="cd-prev">Next</a></li>
                                            </ul> <!-- cd-slider-navigation -->
                                        </div> <!-- cd-slider-wrapper -->
                                        <div class="cd-item-info" id="cd2" style="margin-top:-38px">
                                            <h2>PHÒNG ĐÔI</h2>
                                            <p align="left" style="color:black">
                                                <b>Số Khách:</b>  2 Khách
                                                <br>
                                                <b>Kích Thước:</b>  34m2
                                                <br>
                                                <b>Tiện Ích Trong Phòng:</b>   Máy Lạnh, Tivi, Tủ Lạnh, Máy Nước Nóng Lạnh...
                                                <br>
                                                <b>Hướng Nhìn: </b>Thành Phố Hội An...
                                                <br>
                                            </p>
                                        </div> <!-- cd-item-info -->
                                        <a href="#" class="cd-close">Close</a>
                                    </div> <!-- cd-quick-view -->
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3 mb-5">
                            <div class="hotel-room text-center">
                                <script>
                                    $(document).ready(function (e) {
                                        $("#xct3").click(function () {
                                            $("#cdqv1").hide();
                                            $("#cdqv2").hide();
                                            $("#cdqv4").hide();
                                            $("#cdqv3").show();
                                        });
                                    });
                                </script>
                                <ul class="cd-items cd-container" style="padding:0;width: 100%;">
                                    <li class="cd-item" style="width:100%; margin: 0;">
                                        <img src="~/Content/Home/ChiTietPhong/img/7.jpg" alt="Item Preview" class="img-responsive">
                                        <button class="cd-trigger" id="xct3">Xem Chi Tiết</button>
                                    </li>
                                </ul>
                                <div class="hotel-room text-center">
                                    <div class="hotel-room-body">
                                        <h3 class="heading mb-0"><a>Phòng 3 Người</a></h3>
                                        <strong class="price">3.000.000 vnđ  / Ngày</strong>
                                    </div>
                                    <div class="cd-quick-view" style="        margin-top: 30px" id="cdqv3">
                                        <div class="cd-slider-wrapper">
                                            <ul class="cd-slider">
                                                <li class="selected"><img src="~/Content/Home/ChiTietPhong/img/7.jpg" alt="Product 7"></li>
                                                <li><img src="~/Content/Home/ChiTietPhong/img/9.jpg" alt="Product 8"></li>
                                                <li><img src="~/Content/Home/ChiTietPhong/img/8.jpg" alt="Product 9"></li>
                                            </ul> <!-- cd-slider -->
                                            <ul class="cd-slider-navigation">
                                                <li><a class="cd-next">Prev</a></li>
                                                <li><a class="cd-prev">Next</a></li>
                                            </ul> <!-- cd-slider-navigation -->
                                        </div> <!-- cd-slider-wrapper -->
                                        <div class="cd-item-info" id="cd3" style="margin:-38px">
                                            <h2>PHÒNG 3 NGƯỜI</h2>
                                            <p align="left" style="color:black">
                                                <b>Số Khách:</b>  3 Khách
                                                <br>
                                                <b>Kích Thước:</b>  42m2
                                                <br>
                                                <b>Tiện Ích Trong Phòng:</b>Máy Lạnh, Tivi, Tủ Lạnh, Máy Nước Nóng Lạnh, Bồn Tắm...
                                                <br>
                                                <b>Hướng Nhìn: </b> Toàn Cảnh Sông Hoài, Thành Phố Hội An...
                                                <br>
                                            </p>
                                        </div> <!-- cd-item-info -->
                                        <a href="#" class="cd-close">Close</a>
                                    </div> <!-- cd-quick-view -->
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3 mb-5">
                            <div class="hotel-room text-center">
                                <script>
                                    $(document).ready(function (e) {
                                        $("#xct4").click(function () {
                                            $("#cdqv1").hide();
                                            $("#cdqv2").hide();
                                            $("#cdqv3").hide();
                                            $("#cdqv4").show();
                                        });
                                    });
                                </script>
                                <ul class="cd-items cd-container" style="padding:0;width: 100%;">
                                    <li class="cd-item" style="width:100%; margin: 0;">
                                        <img src="~/Content/Home/ChiTietPhong/img/10.jpg" alt="Item Preview" class="img-responsive" style="height:160px">
                                        <button class="cd-trigger" id="xct4">Xem Chi Tiết</button>
                                    </li>
                                </ul>
                                <div class="hotel-room text-center">
                                    <div class="hotel-room-body">
                                        <h3 class="heading mb-0"><a>Phòng 4 Người</a></h3>
                                        <strong class="price">4.000.000 vnđ  / Ngày</strong>
                                    </div>
                                    <div class="cd-quick-view" style="margin-top: 30px" id="cdqv4">
                                        <div class="cd-slider-wrapper">
                                            <ul class="cd-slider">
                                                <li class="selected"><img src="~/Content/Home/ChiTietPhong/img/10.jpg" style="height:250px" alt="Product 4"></li>
                                                <li><img src="~/Content/Home/ChiTietPhong/img/12.jpg" alt="Product 5"></li>
                                                <li><img src="~/Content/Home/ChiTietPhong/img/11.jpg" alt="Product 6"></li>
                                            </ul> <!-- cd-slider -->
                                            <ul class="cd-slider-navigation">
                                                <li><a class="cd-next">Prev</a></li>
                                                <li><a class="cd-prev">Next</a></li>
                                            </ul> <!-- cd-slider-navigation -->
                                        </div> <!-- cd-slider-wrapper -->
                                        <div class="cd-item-info" id="cd4" style="margin:-38px">
                                            <h2>PHÒNG 4 NGƯỜI</h2>
                                            <p align="left" style="color:black">

                                                <b>Số Khách:</b>  4 Khách
                                                <br>
                                                <b>Kích Thước:</b>  60m2
                                                <br>
                                                <b>Tiện Ích Trong Phòng:</b>   Máy Lạnh, Tivi, Tủ Lạnh, Máy Nước Nóng Lạnh, Bồn Tấm
                                                <br>
                                                <b>Hướng Nhìn: </b> Toàn Cảnh Sông Hoài, Thành Phố Hội An...
                                                <br>
                                            </p>
                                        </div> <!-- cd-item-info -->
                                        <a href="#" class="cd-close">Close</a>
                                    </div> <!-- cd-quick-view -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div @*class="site-section"*@>
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-6 mb-5 mb-md-0" style="z-index:-1">

                            <div class="img-border">
                                @*<a href="https://www.youtube.com/watch?v=-mGCvoNleok" class="popup-vimeo image-play">
                                    <span class="icon-wrap">
                                        <span class="icon icon-play"></span>
                                    </span>*@
                                <img src="~/Content/Home/images/img_2.jpg" alt="" class="img-fluid">
                            </div>

                            <img src="~/Content/Home/images/img_1.jpg" alt="Image" class="img-fluid image-absolute">

                        </div>
                        <div class="col-md-5 ml-auto">
                            <div class="section-heading text-left">
                                <h2 class="mb-5">Giới Thiệu</h2>
                            </div>
                            <p class="mb-4">
                                Nằm bên bờ sông Hoài, Color Hotel mang đến cảm giác yên bình. Tọa lạc ngay trong phố cổ Hội An cổ kính, từ  Color Hotel bạn có thể dễ dàng khám khá những điểm đến hấp dẫn của phố cổ.
                                Khách sạn cách chùa Cầu ở ngay trung tâm phố cổ chỉ 3 phút đi bộ. Lang thang trên những con phố, bạn sẽ có dịp đắm mình trong di sản văn hóa và những điểm tham quan hấp dẫn, chợ đêm, cửa hàng, quán bar, nhà hàng và các cửa hàng thời trang...
                            </p>
                            @*<p><a href="https://www.youtube.com/watch?v=-mGCvoNleok" class="popup-vimeo text-uppercase">Watch Video <span class="icon-arrow-right small"></span></a></p>*@
                            <p><a href="GioiThieu.cshtml">Xem thêm <span class="icon-arrow-right small"></span></a></p>

                        </div>
                    </div>
                </div>
            </div>

            <div style="margin-top: 50px;">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 mx-auto text-center mb-5 section-heading">
                            <h2 class="mb-5">Dịch Vụ</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <div class="text-center p-4 item">
                                <span class=" display-3 mb-3 d-block text-primary">
                                    <img src="~/Content/Home/images/giatcui.png" style="width:80px;color:red">
                                </span>
                                <h2 class="h5" style="margin:-20px"> Giặc Ủi</h2>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <div class="text-center p-4 item">
                                <span class="flaticon-minibar display-3 mb-3 d-block text-primary"></span>
                                <h2 class="h5">Nhà Hàng</h2>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <div class="text-center p-4 item">
                                <span class="flaticon-drink display-3 mb-3 d-block text-primary"></span>
                                <h2 class="h5">Massage </h2>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <div class="text-center p-4 item">
                                <span class="flaticon-cab display-3 mb-3 d-block text-primary"></span>
                                <h2 class="h5">Thuê Xe</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="site-section border-top">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 mx-auto text-center mb-5 section-heading">
                                <h2 class="mb-5">Hình Ảnh Đặc Trưng</h2>
                            </div>
                        </div>
                        <div class="row no-gutters">
                            <div class="col-md-6 col-lg-3">
                                <a href="~/Content/Home/images/img_4.jpeg" class="image-popup img-opacity"><img src="~/Content/Home/images/img_4.jpeg" alt="Image" class="img-fluid"></a>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <a href="~/Content/Home/images/img_5.jpeg" class="image-popup img-opacity"><img src="~/Content/Home/images/img_5.jpeg" alt="Image" class="img-fluid"></a>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <a href="~/Content/Home/images/img_6.jpg" class="image-popup img-opacity"><img src="~/Content/Home/images/img_6.jpg" alt="Image" class="img-fluid"></a>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <a href="~/Content/Home/images/img_7.jpg" class="image-popup img-opacity"><img src="~/Content/Home/images/img_7.jpg" alt="Image" class="img-fluid"></a>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <a href="~/Content/Home/images/img_0.jpg" class="image-popup img-opacity"><img src="~/Content/Home/images/img_0.jpg" alt="Image" class="img-fluid"></a>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <a href="~/Content/Home/images/img_2.2.jpg" class="image-popup img-opacity"><img src="~/Content/Home/images/img_2.2.jpg" alt="Image" class="img-fluid"></a>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <a href="~/Content/Home/images/img_3.3.jpg" class="image-popup img-opacity"><img src="~/Content/Home/images/img_3.3.jpg" alt="Image" class="img-fluid"></a>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <a href="~/Content/Home/images/img_1.2.jpg" class="image-popup img-opacity"><img src="~/Content/Home/images/img_1.2.jpg" alt="Image" class="img-fluid"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <br>
        <footer class="site-footer" c>
            <div class="container">
                <div class="row">
                    <div class="col-3">

                        <br />
                        <img src="~/Content/Home/images/logo1.png" alt="Mẫu File DS" width="200" height="200">
                    </div>


                    <div class="col-lg-4">
                        <div>
                            <h3 class="footer-heading mb-4 text-white">Về Chúng Tôi</h3>
                            <p>
                                Mang trong mình vẻ đẹp huyền bí và những nét văn hóa độc đáo của di sản phố cổ, Color Hotel là điểm đến lý tưởng để du khách có một kỳ nghỉ thư giãn, thoải mái cùng với dịch vụ đẳng cấp và những lựa chọn ăn uống tuyệt vời ngay tại trung tâm phố cổ Hội An
                            </p>

                        </div>
                    </div>
                    <div class="col-lg-5">
                        <h3 class="footer-heading mb-4 text-white">Thông Tin Liên Hệ</h3>
                        <p class="mb-0 font-weight-bold">Địa Chỉ</p>
                        <p class="mb-4">12 Nguyễn Du, P. Cẩm Phô, Hội An, Quảng Nam, Việt Nam </p>
                        <p class="mb-0 font-weight-bold">Số Điện Thoại</p>
                        <p class="mb-4"><a href="#">+84 123456677</a></p>

                        <p class="mb-0 font-weight-bold">Địa Chỉ Email</p>
                        <p class="mb-0"><a href="#">ColorHotel@gmail.com</a></p>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <script src="~/Content/Home/ChiTietPhong/js/jquery-2.1.1.js"></script>
    <script src="~/Content/Home/ChiTietPhong/js/velocity.min.js"></script>
    <script src="~/Content/Home/ChiTietPhong/js/modernizr.js"></script>
    <script src="~/Content/Home/ChiTietPhong/js/main.js"></script>
    <script src="~/Content/Home/js/jquery-3.3.1.min.js"></script>
    <script src="~/Content/Home/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/Content/Home/js/jquery-ui.js"></script>
    <script src="~/Content/Home/js/popper.min.js"></script>
    <script src="~/Content/Home/js/bootstrap.min.js"></script>
    <script src="~/Content/Home/js/owl.carousel.min.js"></script>
    <script src="~/Content/Home/js/jquery.stellar.min.js"></script>
    <script src="~/Content/Home/js/jquery.countdown.min.js"></script>
    <script src="~/Content/Home/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/Home/js/bootstrap-datepicker.min.js"></script>
    <script src="~/Content/Home/js/aos.js"></script>
    <script src="~/Content/Home/js/mediaelement-and-player.min.js"></script>
    <script src="~/Content/Home/js/main.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var mediaElements = document.querySelectorAll('video, audio'), total = mediaElements.length;

            for (var i = 0; i < total; i++) {
                new MediaElementPlayer(mediaElements[i], {
                    pluginPath: 'https://cdn.jsdelivr.net/npm/mediaelement@4.2.7/build/',
                    shimScriptAccess: 'always',
                    success: function () {
                        var target = document.body.querySelectorAll('.player'), targetTotal = target.length;
                        for (var j = 0; j < targetTotal; j++) {
                            target[j].style.visibility = 'visible';
                        }
                    }
                });
            }
        });</script>
</body>
</html>
