

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

   


    <!-- start page content -->
    <div class="page-content-wrapper">
        <div class="page-content">
            <div class="page-bar">
                <div class="page-title-breadcrumb">
                    <div class=" pull-left">
                        <div class="page-title">Danh Sách Dịch Vụ</div>
                    </div>
                    <ol class="breadcrumb page-breadcrumb pull-right">
                        <li>
                            <i class="fa fa-home"></i>&nbsp;<a class="parent-item"
                                                               href="index.html">Trang Chủ</a>&nbsp;<i class="fa fa-angle-right"></i>
                        </li>
                        <li>
                            <a class="parent-item" href="#">Quản Lý Dịch Vụ</a>&nbsp;<i class="fa fa-angle-right"></i>
                        </li>
                        <li class="active">Danh Sách Dịch Vụ</li>
                    </ol>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-box">
                        <div class="card-head">
                            <header>Danh Sách Dịch Vụ</header>
                            <div class="tools">
                                <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
                                <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                                <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                            </div>
                        </div>
                        <div class="card-body ">
                            <div class="row p-b-20">
                                <div class="col-md-6 col-sm-6 col-6">
                                    <div class="btn-group">
                                        <a href="https://localhost:44339/Views/QuanLyViews/DichVu/ThemMoiDichVu.cshtml" id="addRow" class="btn btn-info">
                                            @*@Url.Action("ThemMoiDichVu", "DichVu")*@
                                            Thêm Mới Dịch Vụ <i class="fa fa-plus"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-6">
                                    <div class="btn-group pull-right">
                                        <a class="btn deepPink-bgcolor  btn-outline dropdown-toggle"
                                           data-toggle="dropdown">
                                            Tools
                                            <i class="fa fa-angle-down"></i>
                                        </a>
                                        <ul class="dropdown-menu pull-right">
                                            <li>
                                                <a href="javascript:;">
                                                    <i class="fa fa-print"></i> Print
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:;">
                                                    <i class="fa fa-file-pdf-o"></i> Save as PDF
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:;">
                                                    <i class="fa fa-file-excel-o"></i> Export to Excel
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="table-scrollable">
                                <table class="table table-hover table-checkable order-column full-width"
                                       id="example4">
                                    <thead>
                                        <tr>

                                            <th class="center"> Tên </th>
                                            <th class="center"> Giá </th>
                                            <th class="center"> Trạng Thái </th>
                                        </tr>
                                    </thead>
                                    <tbody id="dsdv">
                                        @*****************@
                                        @**For Each Data**@
                                        @*****************@
                                        <tr class="odd gradeX">

                                            <td class="center">Rajesh</td>
                                            <td class="center">Rajesh</td>
                                            <td class="center">Rajesh</td>

                                        </tr>


                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script type="text/javascript">
    $(document).ready(function () {
        alert("hello");
    })
</script>