<!DOCTYPE html>
<html lang="en">
<!-- BEGIN HEAD -->
<!-- Mirrored from radixtouch.in/templates/admin/hotel/source/index.cshtml by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 13 Jan 2020 12:35:49 GMT -->
<head>
    <meta charset="utf-8" />
    <title>Color Hotel</title>
    <!-- icons -->
    <link href="~/Content/QuanLy/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/QuanLy/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!--bootstrap -->
    <link href="~/Content/QuanLy/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/QuanLy/plugins/summernote/summernote.css" rel="stylesheet">
    <!-- morris chart -->
    <link href="~/Content/QuanLy/plugins/morris/morris.css" rel="stylesheet" type="text/css" />
    <!-- Material Design Lite CSS -->
    <link rel="stylesheet" href="~/Content/QuanLy/plugins/material/material.min.css">
    <link rel="stylesheet" href="~/Content/QuanLy/css/material_style.css">
    <!-- animation -->
    <link href="~/Content/QuanLy/css/pages/animate_page.css" rel="stylesheet">
    <link href="~/Content/QuanLy/plugins/datatables/plugins/bootstrap/dataTables.bootstrap4.min.css" rel="stylesheet"
          type="text/css" />
    <!-- Template Styles -->
    <link href="~/Content/QuanLy/css/plugins.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/QuanLy/css/style.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/QuanLy/css/responsive.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/QuanLy/css/theme-color.css" rel="stylesheet" type="text/css" />
    <!-- favicon -->
    <link rel="shortcut icon" href="~/Content/QuanLy/img/logo.png" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="~/Content/QuanLy/Jquery.js"></script>
    <script src="~/Content/QuanLy/libs_function.js"></script>
    <style>
        .dsdichvu > tbody > tr > td:nth-child(2) {
            text-align: right;
        }
    </style>
    <script type="text/javascript">

        $(document).ready(function () {
            checkSession();

            var dataId;
            var idList = '#dsdichvu';
            //Modal
            var idModalAdd = '#addModal';
            var idModalEdit = '#editModal';


            //API
            var layDSDichVu = 'Quanly/LayDanhSachDichVu';
            var themDichVu = 'Quanly/themDichVu';
            var suaDichVu = 'Quanly/CapNhatDichVu';
            var xoaDichVu = 'Quanly/XoaDichVu?ID=';
            var layDV = 'QuanLy/LayDichVu?ID=';

            loadData(layDSDichVu, function (data) {
                $(idList).DataTable({
                    destroy: true,
                    data: data,
                    columns: [
                        { 'data': 'TenDichVu' },
                        { 'data': 'MoTa' },

                        {
                            'data': null,
                            'render': function (data, type, row) {
                                return formatNumber(row.Gia)
                            }
                        },
                        {
                            'data': null,
                            'render': function (data, type, row) {
                                return '<a class="btn btn-tbl-edit btn-xs" data-id="' + row.ID + '"> <i class="fa fa-pencil" style="color: lightgray"></i></a> <a class="btn btn-tbl-delete btn-xs" data-id="' + row.ID + '"><i class="fa fa-trash-o" data-id="ID"></i></a>'
                            }
                        }
                    ],
                    "columnDefs": [
                        { "orderable": false, "targets": 3 },
                        { "orderable": false, "targets": 2 },
                        { "orderable": false, "targets": 1 }
                    ]
                });
            });


            $('body').on('click', 'a.btn.btn-tbl-delete.btn-xs', function () {

                dataId = $(this).attr("data-id");
                var info = {
                    ID: dataId,
                    url: xoaDichVu,
                };
                deleteData(info);
            })


            $('body').on('click', 'a.btn.btn-tbl-edit.btn-xs', function () {
                $(idModalEdit).modal('show');
                dataId = $(this).attr("data-id");
                var edit = {
                    tenDV: '#tenDV-edit',
                    gia: '#gia-edit',
                    moTa: '#mota-edit',
                }
                loadDataWithID(layDV, dataId, function (data) {
                    $("textarea" + edit.moTa).val(data.MoTa);
                    $(edit.tenDV).val(data.TenDichVu);
                    $(edit.gia).val(data.Gia);
                });
                //loadDataDetail(edit, layDV, dataId);
            })

            $('#btn-edit').click(function () {
                
                var data = {
                    ID: dataId,
                    TenDichVu: $('#tenDV-edit').val(),
                    Gia: $('#gia-edit').val(),
                    MoTa: $('#mota-edit').val(),
                    IsDelete: false,
                };

                //validate
                var message = '';
                if (isEmpty(data.TenDichVu) || isEmpty(data.Gia) || isEmpty(data.MoTa)) {
                    message += EMEmpty;
                }
                if (!isNumber(data.Gia)) {
                    message += 'Giá' + EMNumber;
                }
                $(idModalEdit).modal('hide');

                if (message.length > 0) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: message
                    }).then(() => {
                        $(idModalEdit).modal('show');
                    })
                } else {
                    editData(suaDichVu, data);
                }




            });
            $('#addRow1').click(function () {
                $(idModalAdd).modal('show');

            })

            $('#btn-add').click(function () {
                var data = {
                    TenDichVu: $('#tenDV-add').val(),
                    Gia: $('#gia-add').val(),
                    IsDelete: false,
                    MoTa: $('#mota-add').val()
                }
                //validate
                var message = '';
                if (isEmpty(data.TenDichVu) || isEmpty(data.Gia) || isEmpty(data.MoTa)) {
                    message += EMEmpty;
                }
                if (!isNumber(data.Gia)) {
                    message += 'Giá' + EMNumber;
                }
                $(idModalAdd).modal('hide');

                if (message.length > 0) {

                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: message
                    }).then(() => {
                        $(idModalAdd).modal('show');
                    })
                } else {

                    var info = {
                        url: themDichVu,
                        modal: idModalAdd
                    };
                    addData(info, data);
                }

            });
        });

    </script>
</head>
<!-- END HEAD -->

<body class="page-header-fixed sidemenu-closed-hidelogo page-content-white page-md header-white dark-sidebar-color logo-dark">
    <div class="page-wrapper" style="overflow:hidden">
        <!-- start header -->
        <div class="page-header navbar navbar-fixed-top">
            <div class="page-header-inner ">
                <!-- logo start -->
                <div class="page-logo">
                    <a href="~/TrangChu.cshtml">
                        @*<img alt="" src="~/Content/QuanLy/img/logo.png">*@
                        <span class="logo-default">Color Hotel</span>
                    </a>
                </div>
                <!-- logo end -->
                <!--<ul class="nav navbar-nav navbar-left in">
                    <li><a href="#" class="menu-toggler sidebar-toggler"><i class="icon-menu"></i></a></li>
                </ul>
                <form class="search-form-opened" action="#" method="GET">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search..." name="query">

                    </div>
                </form>-->
                <!-- start mobile menu -->
                <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse"
                   data-target=".navbar-collapse">
                    <span></span>
                </a>
                <!-- end mobile menu -->
                <!-- start header menu -->
                <div class="top-menu">
                    <ul class="nav navbar-nav pull-right">
                        <!-- start notification dropdown -->
                        <!-- end notification dropdown -->
                        <!-- start message dropdown -->
                        <!-- end message dropdown -->
                        <!-- start manage user dropdown -->
                        <li class="dropdown dropdown-user">
                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                               data-close-others="true">
                                <img alt="" class="img-circle " src="~/Content/QuanLy/img/dp.jpg" />
                                <span class="username username-hide-on-mobile nameuser"> </span>
                                <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-default animated jello">


                                <li class="divider"> </li>

                                <li>
                                    <a href="~/DangNhap.cshtml">
                                        <i class="icon-logout"></i> Log Out
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <!-- end manage user dropdown -->

                    </ul>
                </div>
            </div>
        </div>
        <!-- end header -->
        <!-- start page container -->
        <div class="page-container">
            <!-- start sidebar menu -->
            <div class="sidebar-container">
                <div class="sidemenu-container navbar-collapse collapse fixed-menu">
                    <div id="remove-scroll">
                        <ul class="sidemenu page-header-fixed p-t-20" data-keep-expanded="false" data-auto-scroll="true"
                            data-slide-speed="200" id="sidebar">
                            <li class="sidebar-toggler-wrapper hide">
                                <div class="sidebar-toggler">
                                    <span></span>
                                </div>
                            </li>
                            <li class="sidebar-user-panel">
                                <div class="user-panel">
                                    <div class="row">
                                        <div class="sidebar-userpic">
                                            <img src="~/Content/QuanLy/img/dp.jpg" class="img-responsive" alt="">
                                        </div>
                                    </div>
                                    <div class="profile-usertitle">
                                        <div class="sidebar-userpic-name nameuser"> </div>
                                        <div class="profile-usertitle-job" id="roleuser"> </div>
                                    </div>

                                </div>
                            </li>



                            <li class="nav-item active ql">
                                <a href="/SEP23Team2/Views/QuanLyViews/ThongKe/ThongKe.cshtml" class="nav-link nav-toggle">
                                    <i class="material-icons">business_center</i>
                                    <span class="title">Thống Kê</span>
                                    <span class="arrow"></span>
                                </a>

                            </li>

                            <li class="nav-item active ql">
                                <a href="/SEP23Team2/Views/QuanLyViews/DichVu/DSDichVu.cshtml" class="nav-link nav-toggle">
                                    <i class="material-icons">business_center</i>
                                    <span class="title">Dịch Vụ</span>
                                    <span class="arrow"></span>
                                </a>

                            </li>
                            <li class="nav-item active ql">
                                <a href="/SEP23Team2/Views/QuanLyViews/TienIch/DSTienIch.cshtml" class="nav-link nav-toggle">
                                    <i class="material-icons">group</i>
                                    <span class="title">Tiện Ích</span>
                                    <span class="arrow"></span>
                                </a>

                            </li>
                            <li class="nav-item active ql">
                                <a href="/SEP23Team2/Views/QuanLyViews/Phong/DSPhong.cshtml" class="nav-link nav-toggle">
                                    <i class="material-icons">vpn_key</i>
                                    <span class="title">Phòng</span>
                                    <span class="arrow"></span>
                                </a>

                            </li>
                            <li class="nav-item active ql">
                                <a href="/SEP23Team2/Views/QuanLyViews/TKNhanVien/DSTKNhanVien.cshtml" class="nav-link nav-toggle">
                                    <i class="material-icons">group</i>
                                    <span class="title">Tài Khoản Nhân Viên</span>
                                    <span class="arrow"></span>
                                </a>

                            </li>
                            <li class="nav-item active ql">
                                <a href="/SEP23Team2/Views/QuanLyViews/LoaiPhong/LoaiPhong.cshtml" class="nav-link nav-toggle">
                                    <i class="material-icons">group</i>
                                    <span class="title">Loại Phòng</span>
                                    <span class="arrow"></span>
                                </a>

                            </li>




                        </ul>
                    </div>
                </div>
            </div>
            <!-- end sidebar menu -->
            <div class="page-content-wrapper">
                <div class="page-content" style="margin-top:10px">
                    <div class="page-bar">
                        <div class="page-title-breadcrumb">
                            <div class=" pull-left">
                                <div class="page-title">Danh Sách Dịch Vụ</div>
                            </div>
                            <ol class="breadcrumb page-breadcrumb pull-right">
                                <li>
                                    <i class="fa fa-home"></i>&nbsp;<a class="parent-item"
                                                                       href="../../NhanVienViews/Phong_NhanVien/DanhSachPhong.cshtml">Trang Chủ</a>&nbsp;<i class="fa fa-angle-right"></i>
                                </li>

                                <li class="active">Danh Sách Dịch Vụ</li>
                            </ol>
                        </div>
                    </div>




                    <div class="row">
                        <div class="col-md-12">
                            <div class="card card-box" style="border-top: 2px solid black">

                                <div class="card-body ">
                                    <div class="row p-b-20">
                                        <div class="col-md-6 col-sm-6 col-6">
                                            <div class="btn-group">
                                                <button id="addRow1" class="btn btn-info">

                                                    Thêm Mới Dịch Vụ <i class="fa fa-plus"></i>
                                                </button>


                                            </div>
                                        </div>

                                    </div>
                                    <div class="table-scrollable" style="min-height:400px;">
                                        <table class="table display product-overview mb-30"
                                               id="dsdichvu">
                                            <thead>
                                                <tr>
                                                    <th style="min-width:180px"> Tên </th>
                                                    <th> Mô tả </th>
                                                    <th style="min-width:160px"> Giá </th>
                                                    <th style="min-width:100px"> Chức Năng </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal -->
                <div class="modal fade" tabindex="-1" id="addModal" data-keyboard="false" data-backdrop="static">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content" style="width:400px">

                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h4 class="modal-header" style="height:40px;padding:0;margin:0;border-bottom:none">Thêm Dịch Vụ</h4>
                                        <div class="card-box" style="border-top: 2px solid aqua">

                                            <div class="card-body row">
                                                <div class="col-lg-12 p-t-20">
                                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                                                        <input class="mdl-textfield__input" type="text" id="tenDV-add">
                                                        <label class="mdl-textfield__label">Tên Dịch Vụ</label>
                                                    </div>
                                                </div>

                                                <div class="col-lg-6 p-t-20">
                                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                                                        <input class="mdl-textfield__input" type="number"
                                                               pattern="-?[0-9]*(\.[0-9]+)?" id="gia-add">
                                                        <label class="mdl-textfield__label" for="gia-add">Giá</label>
                                                        <span class="mdl-textfield__error">Phải là số</span>
                                                    </div>
                                                </div>

                                                <div class="col-lg-12 p-t-20">
                                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                                                        <textarea class="mdl-textfield__input" type="text" id="mota-add" rows="3" cols="30" style=""></textarea>
                                                        <label class="mdl-textfield__label">Mô Tả</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 p-t-20 text-center">
                                            <button type="button"
                                                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect m-b-10 m-r-20 btn-primary" id="btn-add">
                                                Thêm
                                            </button>
                                            <button type="button"
                                                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect m-b-10 btn-default" data-dismiss="modal">
                                                Hủy
                                            </button>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                    <!-- End Modal -->
                    <!-- end chat sidebar -->
                </div>
                <div class="modal fade" tabindex="-1" id="editModal" data-keyboard="false" data-backdrop="static">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content" style="width:400px">

                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h4 class="modal-header" style="height:40px;padding:0;margin:0;border-bottom:none">Chỉnh Sửa Dịch Vụ</h4>
                                        <div class="card-box" style="border-top: 2px solid yellow">

                                            <div class="card-body row">
                                                <div class="col-lg-12 p-t-20">
                                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                                                        <input class="mdl-textfield__input" type="text" id="tenDV-edit">
                                                        <label class="mdl-textfield__label" style="top:0;">Tên Dịch Vụ</label>
                                                    </div>
                                                </div>

                                                <div class="col-lg-6 p-t-20">
                                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                                                        <input class="mdl-textfield__input" type="number"
                                                               pattern="-?[0-9]*(\.[0-9]+)?" id="gia-edit">
                                                        <label class="mdl-textfield__label" for="gia-edit" style="top:0;">Giá</label>
                                                        <span class="mdl-textfield__error">Phải là số</span>
                                                    </div>
                                                </div>

                                                <div class="col-lg-12 p-t-20">
                                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                                                        <textarea class="mdl-textfield__input" type="text" id="mota-edit" rows="3" cols="50"></textarea>
                                                        <label class="mdl-textfield__label" style="top:0;">Mô Tả</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 p-t-20 text-center">
                                            <button type="button"
                                                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect m-b-10 m-r-20 btn-primary" id="btn-edit">
                                                Lưu
                                            </button>
                                            <button type="button"
                                                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect m-b-10 btn-default" data-dismiss="modal">
                                                Hủy
                                            </button>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                    <!-- End Modal -->
                    <!-- end chat sidebar -->
                </div>

                <!-- end page container -->
                <!-- start footer -->
                <div class="page-footer">
                    <div class="page-footer-inner">
                        2020 &copy; Hotel Color

                    </div>
                    <div class="scroll-to-top">
                        <i class="icon-arrow-up"></i>
                    </div>
                </div>
                <!-- end footer -->
            </div>
        </div>
    </div>
    <!-- start js include path -->
    <script src="~/Content/QuanLy/plugins/jquery/jquery.min.js"></script>
    <script src="~/Content/QuanLy/plugins/popper/popper.min.js"></script>
    <script src="~/Content/QuanLy/plugins/jquery-blockui/jquery.blockui.min.js"></script>
    <script src="~/Content/QuanLy/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <!-- bootstrap -->
    <script src="~/Content/QuanLy/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/QuanLy/plugins/sparkline/jquery.sparkline.min.js"></script>
    <script src="~/Content/QuanLy/js/pages/sparkline/sparkline-data.js"></script>
    <!-- Common js-->
    <script src="~/Content/QuanLy/js/app.js"></script>
    <script src="~/Content/QuanLy/js/layout.js"></script>
    <script src="~/Content/QuanLy/js/theme-color.js"></script>
    <!-- material -->
    <script src="~/Content/QuanLy/plugins/material/material.min.js"></script>

    <!-- animation -->
    <script src="~/Content/QuanLy/js/pages/ui/animations.js"></script>
    <!-- end js include path -->
    <script src="~/Content/QuanLy/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Content/QuanLy/plugins/datatables/plugins/bootstrap/dataTables.bootstrap4.min.js"></script>
    @*<script src="~/Content/QuanLy/js/pages/table/table_data.js"></script>*@
</body>


<!-- Mirrored from radixtouch.in/templates/admin/hotel/source/index.cshtml by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 13 Jan 2020 12:36:48 GMT -->
</html>