<!DOCTYPE html>
<cshtml lang="en">
    <!-- BEGIN HEAD -->
    <!-- Mirrored from radixtouch.in/templates/admin/hotel/source/all_rooms.cshtml by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 13 Jan 2020 12:38:32 GMT -->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta name="description" content="Responsive Admin Template" />
        <meta name="author" content="SmartUniversity" />
        <title>Color Hotel</title>
        <!-- icons -->
        <link href="~/Content/QuanLy/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/QuanLy/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <!--bootstrap -->
        <link href="~/Content/QuanLy/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <!-- Material Design Lite CSS -->
        <link rel="stylesheet" href="~/Content/QuanLy/plugins/material/material.min.css">
        <link rel="stylesheet" href="~/Content/QuanLy/css/material_style.css">
        <!-- data tables -->
        <link href="~/Content/QuanLy/plugins/datatables/plugins/bootstrap/dataTables.bootstrap4.min.css" rel="stylesheet"
              type="text/css" />
        <!-- animation -->
        <link href="~/Content/QuanLy/css/pages/animate_page.css" rel="stylesheet">
        <!-- Template Styles -->
        <link href="~/Content/QuanLy/css/style.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/QuanLy/css/plugins.min.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/QuanLy/css/responsive.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/QuanLy/css/theme-color.css" rel="stylesheet" type="text/css" />
        <!-- favicon -->
        <link rel="shortcut icon" href="~/Content/QuanLy/img/logo.png" />
        <script src="~/Content/QuanLy/Jquery.js"></script>
        <script src="~/Content/QuanLy/libs_function.js"></script>

        <link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.structure.min.css" rel="stylesheet" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" rel="Stylesheet" />
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
        <style>
            tbody tr td {
                text-align:center;
            }
            tbody tr td:nth-last-child(2) {
                text-align:left;
            }
        </style>
        <script type="text/javascript">

            $(document).ready(function () {
                checkSession();

                //var mota = $();
                var dataId;
                var idList = '#dsdichvuphong';
                //Modal
                var idModalAdd = '#addDichVuPhongModal';

                //API
                var layDSDichVuPhong = 'NhanVien/LayDSLichSuDichVu';
                var themDichVuPhong = 'NhanVien/ThemMoiDichVuPhong';

                var xoaDichVuPhong = 'NhanVien/XoaDichVuPhong?ID=';


                //api load khi them DV vao Phong
                var layDSDichVu = 'NhanVien/LayDanhSachDichVu';
                var layDSPhong = 'NhanVien/LayDanhSachPhong';
                var layDSNguoiTrongPhong = 'NhanVien/DanhSachKhachHangChungPhongDichVuPhong/';

                loadData(layDSDichVuPhong, function (data) {
                    $(idList).DataTable({
                        destroy: true,
                        data: data,
                        columns: [
                            { 'data': 'SoPhong' },
                            { 'data': 'HoVaTenKhachHang' },
                            { 'data': 'TenDichVu' },
                            {
                                'data': null,
                                'render': function (data, type, row) {
                                    var ngayGoi = new Date(row.NgayGoiDichVu);
                                    return '' + ngayGoi.getDate() + '-' + (ngayGoi.getMonth() + 1) + '-' + ngayGoi.getFullYear() + ''
                                }
                            },
                            { 'data': 'GhiChu' },
                            {
                                'data': null,
                                'render': function (data, type, row) {
                                    return '<a class="btn btn-tbl-delete btn-xs" data-id="' + row.ID + '" > <i class="fa fa-trash-o "></i></a>'
                                }
                            }
                        ],
                        "columnDefs": [
                            { "orderable": false, "targets": 5 },
                        ]
                    });
                });

                $('body').on('click', 'a.btn.btn-tbl-delete.btn-xs', function () {

                    dataId = $(this).attr("data-id");
                    var info = {
                        id: idList,
                        url: xoaDichVuPhong,
                        urlLoad: layDSDichVuPhong,
                    };
                    deleteData(info, dataId);
                })


                $("#addDichVuPhong").click(function () {
                    var idDSPhong = '#dsphong-select';
                    var idDSDichVu = '#dsdichvu-select';


                    loadData(layDSPhong, function (data) {
                        $(idDSPhong).empty();
                        $(idDSPhong).prepend('<option value="">Chọn Phòng</option>');
                        $.each(data, function (index, val) {
                            $(idDSPhong).prepend('<option value="' + val.SoPhong + '" data-id="' + val.ID + '"> ' + val.SoPhong + '</option>');
                        })
                    })
                    loadData(layDSDichVu, function (data) {
                        $(idDSDichVu).empty();
                        $(idDSDichVu).prepend('<option value="">Chọn Dịch Vụ</option>');
                        $.each(data, function (index, val) {
                            $(idDSDichVu).prepend('<option value="' + val.ID + '" data-id="' + formatNumber(val.Gia) + '"> ' + val.TenDichVu + '</option>');
                        })

                    })



                    $(idModalAdd).modal('show');
                })
                $('#dsdichvu-select').change(function () {
                    var gia = $('#dsdichvu-select option:selected').attr('data-id');
                    $('#gia-dv').html(gia);
                })


                $('#dsphong-select').change(function () {
                    var idPhong = $('#dsphong-select option:selected').attr('data-id');
                    var idDSNguoiTrongPhong = '#dsnguoitrongphong-select';
                    loadDataWithID(layDSNguoiTrongPhong, idPhong, function (data) {
                        if (data.length <= 0) {
                            $(idModalAdd).modal('hide');
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: 'Phòng chưa được sử dụng!'
                            }).then(() => {
                                $(idModalAdd).modal('show');
                            })
                        } else {
                            $(idDSNguoiTrongPhong).empty();
                            $.each(data, function (index, val) {
                                $(idDSNguoiTrongPhong).append('<option value="' + val.ID + '">' + val.HoVaTen + '</option>');
                            })
                            console.log('them thanh cong')
                        }

                    })

                })

                $('#btn-adddvphong').click(function () {

                    var data = {
                        IDDichVu: $('#dsdichvu-select').val(),
                        IDKhachHang: $('#dsnguoitrongphong-select').val(),
                        IDPhong: $('#dsphong-select option:selected').attr('data-id'),
                        IsDelete: false,
                        SoPhong: $('#dsphong-select option:selected').val(),
                        TenDichVu: $('#dsdichvu-select option:selected').text().split('+')[0].trim(),
                        HoVaTenKhachHang: $('#dsnguoitrongphong-select option:selected').text(),
                        GhiChu: $('#ghichu').val()
                    }

                    $(idModalAdd).modal('hide');
                    var message = '';
                    if (isEmpty(data.idDSDichVu) || isEmpty(data.IDKhachHang) || isEmpty(data.IDPhong) || isEmpty(data.GhiChu)) {
                        message += EMEmpty;
                    }

                    if (message.length > 0) {

                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: message
                        }).then(() => {
                            $(idModalAdd).modal('show');
                        })
                    } else {
                        var info = {
                            url: themDichVuPhong,
                        };
                        console.log(data);
                        addData(info, data);
                    }

                });
            });

        </script>
    </head>
    <!-- END HEAD -->

    <body class="page-header-fixed sidemenu-closed-hidelogo page-content-white page-md header-white dark-sidebar-color logo-dark">
        <div class="page-wrapper" style="overflow:hidden">
            <!-- start header -->
            <div class="page-header navbar navbar-fixed-top">
                <div class="page-header-inner ">
                    <!-- logo start -->
                    <div class="page-logo">
                        <a href="~/TrangChu.cshtml">
                            @*<img alt="avatar" src="~/Content/QuanLy/img/logo.png">*@
                            <span class="logo-default">Color Hotel</span>
                        </a>
                    </div>
                    <!-- logo end -->
                    <!--<ul class="nav navbar-nav navbar-left in">
                        <li><a href="#" class="menu-toggler sidebar-toggler"><i class="icon-menu"></i></a></li>
                    </ul>
                    <form class="search-form-opened" action="#" method="GET">
                        <div class="input-group">
                            <input type="text" class="form-control" id="myInput" placeholder="Search..." name="query">
                            <span class="input-group-btn search-btn">
                                <a href="javascript:;" class="btn submit">
                                    <i class="icon-magnifier"></i>
                                </a>
                            </span>
                        </div>
                    </form>-->
                    <!-- start mobile menu -->
                    <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse"
                       data-target=".navbar-collapse">
                        <span></span>
                    </a>
                    <!-- end mobile menu -->
                    <!-- start header menu -->
                    <div class="top-menu">
                        <ul class="nav navbar-nav pull-right">
                            <!-- start notification dropdown -->
                            <!-- end notification dropdown -->
                            <!-- start message dropdown -->
                            <!-- end message dropdown -->
                            <!-- start manage user dropdown -->
                            <li class="dropdown dropdown-user">
                                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                                   data-close-others="true">
                                    <img alt="" class="img-circle " src="~/Content/QuanLy/img/nv.jpg" />
                                    <span class="username username-hide-on-mobile nameuser"> </span>
                                    <i class="fa fa-angle-down"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-default animated jello">


                                    <li class="divider"> </li>

                                    <li>
                                        <a href="~/DangNhap.cshtml">
                                            <i class="icon-logout"></i> Log Out
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <!-- end manage user dropdown -->

                        </ul>
                    </div>
                </div>
            </div>
            <!-- end header -->
            <!-- start page container -->
            <div class="page-container">
                <!-- start sidebar menu -->
                <div class="sidebar-container">
                    <div class="sidemenu-container navbar-collapse collapse fixed-menu">
                        <div id="remove-scroll">
                            <ul class="sidemenu page-header-fixed p-t-20" data-keep-expanded="false" data-auto-scroll="true"
                                data-slide-speed="200">
                                <li class="sidebar-toggler-wrapper hide">
                                    <div class="sidebar-toggler">
                                        <span></span>
                                    </div>
                                </li>
                                <li class="sidebar-user-panel">
                                    <div class="user-panel">
                                        <div class="row">
                                            <div class="sidebar-userpic">
                                                <img src="~/Content/QuanLy/img/nv.jpg" class="img-responsive" alt="">
                                            </div>
                                        </div>
                                        <div class="profile-usertitle">
                                            <div class="sidebar-userpic-name nameuser"></div>
                                            <div class="profile-usertitle-job" id="roleuser"></div>
                                        </div>

                                    </div>
                                </li>



                                <li class="nav-item active nv">
                                    <a href="/SEP23Team2/Views/NhanVienViews/Doan/Doan.cshtml" class="nav-link nav-toggle">
                                        <i class="material-icons">group</i>
                                        <span class="title">Đoàn</span>
                                        <span class="arrow"></span>
                                    </a>

                                </li>
                                <li class="nav-item active nv">
                                    <a href="/SEP23Team2/Views/NhanVienViews/DatPhongThanhCong/DatPhongThanhCong.cshtml" class="nav-link nav-toggle">
                                        <i class="material-icons">search</i>
                                        <span class="title">Đặt Phòng Thành Công</span>
                                        <span class="arrow"></span>
                                    </a>

                                </li>
                                <li class="nav-item active nv">
                                    <a href="/SEP23Team2/Views/NhanVienViews/DatPhongThatBai/DatPhongThatBai.cshtml" class="nav-link nav-toggle">
                                        <i class="material-icons">assignment_late</i>
                                        <span class="title">Đặt Phòng Thất Bại</span>
                                        <span class="arrow"></span>
                                    </a>

                                </li>
                                <li class="nav-item active nv">
                                    <a href="/SEP23Team2/Views/NhanVienViews/Phong_NhanVien/DanhSachPhong.cshtml" class="nav-link nav-toggle">
                                        <i class="material-icons">vpn_key</i>
                                        <span class="title">Phòng</span>
                                        <span class="arrow"></span>
                                    </a>

                                </li>
                                <li class="nav-item active nv">
                                    <a href="/SEP23Team2/Views/NhanVienViews/ThemDichVu/ThemDichVu.cshtml" class="nav-link nav-toggle">
                                        <i class="material-icons">queue</i>
                                        <span class="title">Thêm Dịch Vụ - Phòng</span>
                                        <span class="arrow"></span>
                                    </a>

                                </li>




                            </ul>
                        </div>
                    </div>
                </div>
                <!-- end sidebar menu -->
                <!-- start page content -->
                <div class="page-content-wrapper" style="margin-top:10px;">
                    <div class="page-content">
                        <div class="page-bar">
                            <div class="page-title-breadcrumb">
                                <div class=" pull-left">
                                    <div class="page-title">Thêm Dịch Vụ Vào Phòng</div>
                                </div>
                            </div>
                            <ol class="breadcrumb page-breadcrumb pull-right">
                                <li>
                                    <i class="fa fa-home"></i>&nbsp;<a class="parent-item"
                                                                       href="../../NhanVienViews/Phong_NhanVien/DanhSachPhong.cshtml">Trang Chủ</a>&nbsp;<i class="fa fa-angle-right"></i>
                                </li>

                                <li class="active">Thêm Dịch Vụ Vào Phòng</li>
                            </ol>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card card-box" style="border-top: 2px solid green">

                                    <div class="card-body ">
                                        <div class="row p-b-20">
                                            <div class="col-md-6 col-sm-6 col-6">
                                                <div class="btn-group">
                                                    <button href="" id="addDichVuPhong" class="btn btn-info">
                                                        Thêm Dịch Vụ Vào Phòng <i class="fa fa-plus"></i>
                                                    </button>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="table-scrollable">
                                            <table class="table display product-overview mb-30"
                                                   id="dsdichvuphong">
                                                <thead>
                                                    <tr>
                                                        <th class="center" style="width: 130px"> Số Phòng </th>
                                                        <th class="center" style="width: 180px"> Tên Khách Hàng </th>
                                                        <th class="center" style="width: 130px"> Tên Dịch Vụ </th>
                                                        <th class="center" style="width: 130px"> Ngày Gọi </th>
                                                        <th class="" style=""> Ghi Chú </th>
                                                        <th class="center"> Chức Năng </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!----Modal-->
            <div class="modal fade" tabindex="-1" id="addDichVuPhongModal" data-keyboard="false" data-backdrop="static">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content" style="width:400px">

                        <div class="modal-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h4 class="modal-header" style="height:40px;padding:0;margin:0;border-bottom:none">Thêm Dịch Vụ Phòng</h4>
                                    <div class="card-box" style="border-top: 2px solid gray">

                                        <div class="card-body row">

                                            <div class="col-lg-7 p-t-20">
                                                <label>Dịch Vụ</label>
                                                <select class="form-control" id="dsdichvu-select">
                                                    <option selected disabled>Chọn Dịch Vụ</option>
                                                </select>
                                            </div>
                                            <div class="col-lg-5 p-t-20">
                                                <label style="display:block">Giá</label>

                                                <label id="gia-dv">0 VND</label>
                                            </div>
                                            <div class="col-lg-12 p-t-20">
                                                <label>Phòng</label>
                                                <select class="form-control" id="dsphong-select">
                                                    <option selected disabled>Chọn Phòng</option>
                                                </select>


                                            </div>

                                            <div class="col-lg-12 p-t-20">
                                                <label>Thành Viên</label>
                                                <select class="form-control" id="dsnguoitrongphong-select">
                                                    <option selected disabled>Chọn Thành Viên</option>
                                                </select>
                                            </div>

                                            <div class="col-lg-12 p-t-20">
                                                <label style="display:block">Ghi Chú</label>
                                                <textarea id="ghichu" cols="42" rows="2" style="border:none;border-bottom: 1px solid;outline: none;"></textarea>


                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-lg-12 p-t-20 text-center">
                                        <button type="button"
                                                class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect m-b-10 m-r-20 btn-primary" id="btn-adddvphong">
                                            Thêm Dịch Vụ
                                        </button>
                                        <button type="button"
                                                class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect m-b-10 btn-default" data-dismiss="modal">
                                            Hủy
                                        </button>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                <!-----end modal-->
                <!-- end page content -->
            </div>


            <!-- end page container -->
            <!-- start footer -->
            <div class="page-footer">
                <div class="page-footer-inner">
                    2020 &copy; Hotel Color

                </div>
                <div class="scroll-to-top">
                    <i class="icon-arrow-up"></i>
                </div>
            </div>
            <!-- end footer -->
        </div>
        <!-- start js include path -->
        <script src="~/Content/QuanLy/plugins/jquery/jquery.min.js"></script>
        <!--<script src="~/Content/QuanLy/plugins/popper/popper.min.js"></script>-->
        <script src="~/Content/QuanLy/plugins/jquery-blockui/jquery.blockui.min.js"></script>
        <script src="~/Content/QuanLy/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
        <!-- bootstrap -->
        <script src="~/Content/QuanLy/plugins/datatables/jquery.dataTables.min.js"></script>
        <script src="~/Content/QuanLy/plugins/datatables/plugins/bootstrap/dataTables.bootstrap4.min.js"></script>
        <script src="~/Content/QuanLy/plugins/bootstrap/js/bootstrap.min.js"></script>
        <!-- Material -->
        <script src="~/Content/QuanLy/plugins/material/material.min.js"></script>
        <script src="~/Content/QuanLy/js/pages/material_select/getmdl-select.js"></script>
        <!-- Common js-->
        <script src="~/Content/QuanLy/js/app.js"></script>
        <script src="~/Content/QuanLy/js/layout.js"></script>
        <script src="~/Content/QuanLy/js/theme-color.js"></script>
        <!--<script src="~//plugins/dropzone/dropzone.js"></script>-->
        <!--<script src="~//plugins/dropzone/dropzone-call.js"></script>-->
        <!-- Material -->
        <!--<script src="~/Content/QuanLy/plugins/material/material.min.js"></script>-->
        <!-- animation -->
        <script src="~/Content/QuanLy/js/pages/ui/animations.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" type="text/javascript"></script>

        <!-- end js include path -->
    </body>


    <!-- Mirrored from radixtouch.in/templates/admin/hotel/source/all_rooms.cshtml by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 13 Jan 2020 12:38:33 GMT -->
</cshtml>